{% capture listItems %}
{% paginate blogs['blog'].articles by 999 %}
{%- assign allItems = blogs['blog'].articles -%}{%- assign allItems = allItems | sort: 'published_at' | reverse -%}
{%- assign count = 0 -%}                    
{%- for item in allItems -%}
    {% if count == 2 %}{% break %}
{% endif %}{%- assign condition_value = item.handle | strip -%}{% assign condition_0 = false %}                  
                {% unless condition_value == article.handle %}
                    {% assign condition_0 = true %}
                {% endunless %}{% if condition_0 %}
  {% assign count = count | plus: 1 %}
   <div role="listitem" class="w-dyn-item">
            <a href="{{ item.url }}" class="link-blog w-inline-block">
              <div class="image-wrap-blog">
                <div class="image-blog" style="background-image: url('{{item.image | img_url: 'master'}}')"></div>
              </div>
              <div class="bottom-wrap-blog-tile">
                <div class="text-block-heading-3-styles">{{ item.title }}</div>
                <p class="no-margins">{{ item.metafields.udesly['short-description'] }}</p>
              </div>
            </a>
          </div>
  {% endif %}
{%- endfor -%}
{% endpaginate %}
{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="w-dyn-list" udy-collection="blog">
        {%- unless items_length == 0 -%}<div role="list" class="grid-halves blog-halves w-dyn-items">
          {{ listItems }}
        </div>{%- endunless -%}
        {%- if items_length == 0 -%}<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>{%- endif -%}
      </div>