<div class="fixed-cart">
    <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart" udy-collection="cart">
      <a href="#" data-node-type="commerce-cart-open-link" aria-haspopup="dialog" aria-label="Open cart" role="button" class="w-commerce-commercecartopenlink cart-button w-inline-block"><img src="{{ 'shopping-cart-line.svg' | asset_url }}" loading="lazy" alt="" class="icon-cart">
        <div style="display:none" data-count-hide-rule="always" class="w-commerce-commercecartopenlinkcount">{{ cart.item_count }}</div>
      </a>
      <div data-node-type="commerce-cart-container-wrapper" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar cart-container">
        <div role="dialog" data-node-type="commerce-cart-container" class="w-commerce-commercecartcontainer cart-background">
          <div class="w-commerce-commercecartheader">
            <h4 class="w-commerce-commercecartheading">{{ 'tn77ee8913' | t }}</h4>
            <a href="#" data-node-type="commerce-cart-close-link" role="button" aria-label="Close cart" class="w-commerce-commercecartcloselink close-button w-inline-block"><svg width="16px" height="16px" viewBox="0 0 16 16">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g fill-rule="nonzero" fill="#333333">
                    <polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon>
                  </g>
                </g>
              </svg></a>
          </div>
          <div class="w-commerce-commercecartformwrapper">
            <form data-node-type="commerce-cart-form" style="display:none" class="w-commerce-commercecartform">
              <script type="text/x-wf-template" id="wf-template-300589f9-0e27-efee-b040-658b10b0b89b"><div data-node-type="cart-item" template-part-bind="300589f9-0e27-efee-b040-658b10b0b89c" class="w-commerce-commercecartitem"><img data-node-type="cart-item-image" template-part-bind="300589f9-0e27-efee-b040-658b10b0b89d" class="w-commerce-commercecartitemimage" src="<%= it.image %>"><div data-node-type="cart-item-info" template-part-bind="300589f9-0e27-efee-b040-658b10b0b89e" class="w-commerce-commercecartiteminfo"><div data-node-type="cart-product-name" template-part-bind="300589f9-0e27-efee-b040-658b10b0b89f" class="w-commerce-commercecartproductname"><%= it.title %></div><div template-part-bind="300589f9-0e27-efee-b040-658b10b0b8a0"><%= it.price %></div><ul template-part-bind="300589f9-0e27-efee-b040-658b10b0b8a1" class="w-commerce-commercecartoptionlist"><% Object.entries(it.properties).forEach( data =>  { %><li data-node-type="cart-option-list-item"><span data-node-type="cart-option-list-item-label" template-part-bind="300589f9-0e27-efee-b040-658b10b0b8a3"><%= data[0] %></span><span>: </span><span data-node-type="cart-option-list-item-value" template-part-bind="300589f9-0e27-efee-b040-658b10b0b8a6"><%= data[1] %></span></li><% }) %></ul><a data-node-type="cart-remove-link" href="#" role="button" aria-label="Remove item from cart" template-part-bind="300589f9-0e27-efee-b040-658b10b0b8a7" data-product-id="<%= it.id %>"><div class="remove-link">Remove</div></a></div><input class="w-commerce-commercecartquantity input-field quantity" name="<%= it.id %>" type="number" min="0" min="1" value="<%= it.quantity %>" data-node-type="cart-quantity"></div></script>
              <div class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-300589f9-0e27-efee-b040-658b10b0b89b"></div>
              <div class="w-commerce-commercecartfooter">
                <div aria-atomic="true" aria-live="polite" class="w-commerce-commercecartlineitem">
                  <div>{{ 'tn76f396dc' | t }}</div>
                  <div class="w-commerce-commercecartordervalue">{{ cart.items_subtotal_price | money_with_currency }}</div>
                </div>
                <div>
                  <div data-node-type="commerce-cart-quick-checkout-actions">{{ content_for_additional_checkout_buttons }}</div>
                  <a href="/checkout" value="Continue to Checkout" data-node-type="cart-checkout-button" class="w-commerce-commercecartcheckoutbutton cta" data-loading-text="Hang Tight...">{{ 'tn7941186e' | t }}</a>
                </div>
              </div>
            </form>
            <div class="w-commerce-commercecartemptystate">
              <div aria-live="polite" aria-label="This cart is empty">{{ 't3d503d2b' | t }}</div>
            </div>
            <div aria-live="assertive" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate">
              <div class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">{{ 'tn1c765d0d' | t }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>