<div class="section extra-paddings light overflow">
  <div class="main-container w-container">
    <div data-w-id="b5f3cbb3-fcfa-7adc-c34c-bf18fe24e9f6" class="wrap-big-text">
      <div class="big-text">
        Learning how to use Shopify doesn't have to be confusing or time consuming. The midnight mug is a newsletter
        dedicated to teaching Shopify in a quick, easy to understand way all store owners can learn.
        <br>
        <br>
        We help store owners understand complex tasks, improve their website, and level up their online store.
      </div>
      <div class="overlay-big-text"></div>
      <img src="{{ 'accent-big-text-light.svg' | asset_url }}" loading="lazy" alt="" class="accent-big-text">
    </div>
    <div class="space-120 education-space"></div>
    {% comment %}
      <div class="master-education-block">
        <div class="w-layout-grid grid-education">
          <div id="w-node-b5f3cbb3-fcfa-7adc-c34c-bf18fe24ea00-fe24e9f4" data-w-id="b5f3cbb3-fcfa-7adc-c34c-bf18fe24ea00" class="single-education-list">
            <h3 class="no-margins">{{ 't661d8788' | t }}</h3>
            <ul role="list" class="list-education w-list-unstyled">
              <li class="list-item-education">
                <p class="no-margins">{{ 'tn135620f9' | t }}</p>
                <p class="no-margins">{{ 't4e40d189' | t }}</p>
              </li>
              <li class="list-item-education">
                <p class="no-margins">{{ 'tn135620f9' | t }}</p>
                <p class="no-margins">{{ 't6e97ef25' | t }}</p>
              </li>
            </ul>
          </div>
          <div id="w-node-b5f3cbb3-fcfa-7adc-c34c-bf18fe24ea0e-fe24e9f4" data-w-id="b5f3cbb3-fcfa-7adc-c34c-bf18fe24ea0e" class="single-education-list">
            <h3 class="no-margins">{{ 'tn3ab183d7' | t }}</h3>
            <ul role="list" class="list-education w-list-unstyled">
              <li class="list-item-education">
                <p class="no-margins">{{ 't1c71906e' | t }}</p>
                <p class="no-margins">{{ 't1ff645' | t }}</p>
              </li>
              <li class="list-item-education">
                <p class="no-margins">{{ 't1abcb7ce' | t }}</p>
                <p class="no-margins">{{ 't38426c4c' | t }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endcomment %}
    <div class="space-40"></div>
  </div>
</div>
