<div class="section footer">
    <div class="master-moving-footer">
      <div class="single-moving-footer">
        <div class="text-moving-footer">{{ 't37fdbcaf' | t }}</div>
        <div class="text-moving-footer">{{ 't3e1c48f' | t }}</div>
        <div class="text-moving-footer">{{ 't5c03acbc' | t }}</div>
        <div class="text-moving-footer">{{ 't384019f3' | t }}</div>
        <div class="text-moving-footer">{{ 't4f9aeff7' | t }}</div>
        <div class="text-moving-footer">{{ 't37fdbcaf' | t }}</div>
        <div class="text-moving-footer">{{ 't3e1c48f' | t }}</div>
        <div class="text-moving-footer">{{ 't384019f3' | t }}</div>
        <div class="text-moving-footer">{{ 't4f9aeff7' | t }}</div>
        <div class="text-moving-footer">{{ 't3e1c48f' | t }}</div>
        <div class="text-moving-footer">{{ 't39c0accf' | t }}</div>
        <div class="text-moving-footer">{{ 't5c03acbc' | t }}</div>
        <div class="text-moving-footer">{{ 't384019f3' | t }}</div>
        <div class="text-moving-footer">{{ 't4f9aeff7' | t }}</div>
      </div>
    </div>
    <div class="main-container w-container">
      <div class="space-100"></div>
      <div class="w-layout-grid grid-footer">
        <div id="w-node-_65c5d097-0650-286a-8aa4-c63ba8c7d4c4-a8c7d4a2" class="links-wrap-footer">
          <a href="#" class="link-footer w-inline-block"><img src="{{ 'arrow-right-up-line.svg' | asset_url }}" loading="lazy" alt="" class="image-link-footer">
            <div>{{ 't3ff5b7c' | t }}</div>
          </a>
          <a href="#" class="link-footer w-inline-block"><img src="{{ 'arrow-right-up-line.svg' | asset_url }}" loading="lazy" alt="" class="image-link-footer">
            <div>{{ 'tn20e9cf80' | t }}</div>
          </a>
          <a href="#" class="link-footer w-inline-block"><img src="{{ 'arrow-right-up-line.svg' | asset_url }}" loading="lazy" alt="" class="image-link-footer">
            <div>{{ 't559c0b34' | t }}</div>
          </a>
        </div>
        <p id="w-node-_65c5d097-0650-286a-8aa4-c63ba8c7d4d1-a8c7d4a2" class="paragraph-footer">{{ 'tn2c8cd5bd' | t }}<br>{{ 't9dd0287' | t }}<br>{{ 't3ab1d46d' | t }}</p>
        <a id="w-node-_65c5d097-0650-286a-8aa4-c63ba8c7d4d7-a8c7d4a2" href="#top" class="circle-link-up w-inline-block"><img src="{{ 'arrow-up-line.svg' | asset_url }}" loading="lazy" alt="" class="icon-up-arrow"></a>
      </div>
      <div class="divider-footer"></div>
      <div class="master-footer-bottom">
        <div class="left-footer-bottom">
          <div class="single-footer-links">
            <div class="footer-links-heading">{{ 't3b40f6bd' | t }}</div>
            <a href="{{ routes.root_url }}" aria-current="page" class="footer-link w--current">{{ 't5526caab' | t }}</a>
            <a href="{{ pages["home-a"].url }}" class="footer-link">{{ 'tn7ed3d6a0' | t }}</a>
            <a href="{{ pages["home-b"].url }}" class="footer-link">{{ 'tn7ed3d69f' | t }}</a>
            <a href="{{ pages["about-a"].url }}" class="footer-link">{{ 't1c03104e' | t }}</a>
            <a href="{{ pages["about-b"].url }}" class="footer-link">{{ 't1c03104f' | t }}</a>
          </div>
          <div class="single-footer-links">
            <div class="footer-links-heading">{{ 'tn37ac8366' | t }}</div>
            <a href="{{ pages["projects-a"].url }}" class="footer-link">{{ 't166c23b' | t }}</a>
            <a href="{{ pages["projects-b"].url }}" class="footer-link">{{ 't166c23c' | t }}</a>
            <a href="https://layla-folio.webflow.io/services/user-experience" class="footer-link">{{ 'tn2683a16b' | t }}</a>
            <a href="https://layla-folio.webflow.io/projects/the-rising-star-on-summer-beverages-market" class="footer-link">{{ 't3e526356' | t }}</a>
          </div>
          <div class="single-footer-links">
            <div class="footer-links-heading">{{ 'tn729db07d' | t }}</div>
            <a href="blog.html" class="footer-link">{{ 't1fa3c2' | t }}</a>
            <a href="https://layla-folio.webflow.io/blog/why-did-i-move-to-warsaw-and-not-berlin" class="footer-link">{{ 'tn11c9159a' | t }}</a>
            <a href="{{ pages["shop"].url }}" class="footer-link">{{ 't274f16' | t }}</a>
            <a href="https://layla-folio.webflow.io/product/my-icon-pack" class="footer-link">{{ 't50c664cf' | t }}</a>
            <a href="https://layla-folio.webflow.io/category/ui-kits" class="footer-link">{{ 't6dd211e' | t }}</a>
            <a href="{{ pages["contact"].url }}" class="footer-link">{{ 'tn64104400' | t }}</a>
            <a href="{{ pages["legal"].url }}" class="footer-link">{{ 't390cc0db' | t }}</a>
          </div>
          <div class="single-footer-links">
            <div class="footer-links-heading">{{ 'tn4aeacf66' | t }}</div>
            <a href="{{ pages["style-guide"].url }}" class="footer-link">{{ 'tn5e8b453' | t }}</a>
            <a href="{{ pages["licenses"].url }}" class="footer-link">{{ 't37fa6872' | t }}</a>
            <a href="{{ pages["documentation"].url }}" class="footer-link">{{ 't36eff9c5' | t }}</a>
            <a href="{{ pages["changelog"].url }}" class="footer-link">{{ 'tn31d02e8c' | t }}</a>
            <a href="/#pages" class="footer-link">{{ 't33fb04d8' | t }}</a>
          </div>
        </div>
        <div class="right-footer-bottom">
          <a href="https://webflow.com/templates/designers/wavesdesign" target="_blank" class="cta small w-button">{{ 't2f1fba4e' | t }}</a>
        </div>
      </div>
      <div class="divider-footer-legal"></div>
      <div class="wrap-footer-legal">
        <div class="legal-text">{{ 'tn6bb908a7' | t }}<a href="http://www.wavesdesign.io" target="_blank">{{ 'tnf3b2548' | t }}</a>{{ 't4f89c6e7' | t }}</div>
        <div class="legal-text">
          <a href="https://webflow.com/templates/designers/wavesdesign" target="_blank">{{ 't43492e4d' | t }}</a>
        </div>
      </div>
    </div>
  </div>