{% capture listItems %}
                        {% for item in collections.all.products %}
                        <div role="listitem" class="w-dyn-item">
            <a href="{{ item.url }}" class="link-product w-inline-block">
              <div class="image-wrap-product">
                <div class="image-product" style="background-image: url('{{item.featured_image | img_url: 'master'}}')" data-commerce-type="variation-image"></div>
              </div>
              <div class="master-product-details">
                <div class="left-product-details">
                  <div class="text-block-heading-3-styles">{{ item.title }}</div>
                </div>
                <div class="right-product-details">
                  <div class="compare-price" data-commerce-type="variation-compare_at_price">{{ item.selected_or_first_available_variant.compare_at_price | money_with_currency }}</div>
                  <div data-commerce-type="variation-price" class="text-block-heading-3-styles">{{ item.price | money_with_currency }}</div>
                </div>
              </div>
            </a>
          </div>
                        {% endfor %}
                        {% endcapture %}
{% assign items_length = listItems | strip | size %}
    <div class="w-dyn-list" udy-collection="product">
        {%- unless items_length == 0 -%}<div role="list" class="grid-thirds products-grid w-dyn-items">
          {{ listItems }}
        </div>{%- endunless -%}
        {%- if items_length == 0 -%}<div class="w-dyn-empty">
          <div>No items found.</div>
        </div>{%- endif -%}
      </div>