{% capture listItems %}
{% paginate blogs['projects'].articles by 999 %}
{%- assign allItems = blogs['projects'].articles -%}
{%- for item in allItems limit: 4 -%}
 <div role="listitem" class="w-dyn-item" custom-sort-field="{{ item.metafields.udesly['order'] }}">
              <div class="wrap-project-item-a">
                <a href="{{ item.url }}" class="link-project-a w-inline-block">
                  <div class="image-wrap-project-a">
                    <div class="image-project-a" style="background-image: url('{{item.metafields.udesly['vertical-image'].src}}')"></div>
                    <div class="overlay-project"></div>
                  </div>
                  <div class="wrap-details-project-a">
                    <div class="text-block-heading-3-styles">{{ item.metafields.udesly['client'] }}</div>
                    <p class="short-description-projects-a">{{ item.metafields.udesly['short-description'] }}</p>
                  </div>
                </a>
              </div>
            </div>
{%- endfor -%}
{% endpaginate %}
{% endcapture %}
{% assign items_length = listItems | strip | size %}

<div class="w-dyn-list" udy-collection="projects">
          {%- unless items_length == 0 -%}<div role="list" class="list-projects-a w-dyn-items" custom-sort="{&quot;reverse&quot;:false,&quot;type&quot;:&quot;Number&quot;}">
            {{ listItems }}
          </div>{%- endunless -%}
          {%- if items_length == 0 -%}<div class="w-dyn-empty">
            <div>No items found.</div>
          </div>{%- endif -%}
        </div>