<div class="section light extra-paddings">
    <div class="main-container w-container">
      <h2 data-w-id="eac4529d-08a0-66f9-2c8a-a83a964cab0c">{{ 'tn425a57b2' | t }}</h2>
      <div class="space-80 tabs-heading-space"></div>
      <div data-w-id="eac4529d-08a0-66f9-2c8a-a83a964cab0f" data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="tabs w-tabs">
        <div id="w-node-eac4529d-08a0-66f9-2c8a-a83a964cab10-964cab0a" class="tabs-menu w-tab-menu">
          <a data-w-tab="Tab 1" class="tab-link w-inline-block w-tab-link w--current">
            <div class="tab-circle"></div>
            <div class="text-tab-link">{{ 't1a318f75' | t }}</div>
          </a>
          <a data-w-tab="Tab 2" class="tab-link w-inline-block w-tab-link">
            <div class="tab-circle"></div>
            <div class="text-tab-link">{{ 'tn5b44a1b0' | t }}</div>
          </a>
          <a data-w-tab="Tab 3" class="tab-link w-inline-block w-tab-link">
            <div class="tab-circle"></div>
            <div class="text-tab-link">{{ 'tn79662382' | t }}</div>
          </a>
          <a data-w-tab="Tab 4" class="tab-link w-inline-block w-tab-link">
            <div class="tab-circle"></div>
            <div class="text-tab-link">{{ 'tn2cf39f83' | t }}</div>
          </a>
        </div>
        <div id="w-node-eac4529d-08a0-66f9-2c8a-a83a964cab21-964cab0a" class="tabs-content w-tab-content">
          <div data-w-tab="Tab 1" class="w-tab-pane w--tab-active">
            <div class="wrap-tab-content">
              <div class="wrap-tags">
                <div class="tag">
                  <div>{{ 't758acc18' | t }}</div>
                </div>
                <div class="tag">
                  <div>{{ 'tn4a16f3f4' | t }}</div>
                </div>
                <div class="tag">
                  <div>{{ 'tnb1e191' | t }}</div>
                </div>
              </div>
              <p>{{ 't26533c3f' | t }}</p>
            </div>
          </div>
          <div data-w-tab="Tab 2" class="w-tab-pane">
            <div class="wrap-tab-content">
              <div class="wrap-tags">
                <div class="tag">
                  <div>{{ 't50ec9af7' | t }}</div>
                </div>
                <div class="tag">
                  <div>{{ 't40c7f12b' | t }}</div>
                </div>
              </div>
              <p>{{ 't458f0f3c' | t }}</p>
            </div>
          </div>
          <div data-w-tab="Tab 3" class="w-tab-pane">
            <div class="wrap-tab-content">
              <div class="wrap-tags">
                <div class="tag">
                  <div>{{ 'tn555b2675' | t }}</div>
                </div>
                <div class="tag">
                  <div>{{ 'tn2e242d33' | t }}</div>
                </div>
              </div>
              <p>{{ 't46faff02' | t }}</p>
            </div>
          </div>
          <div data-w-tab="Tab 4" class="w-tab-pane">
            <div class="wrap-tab-content">
              <div class="wrap-tags">
                <div class="tag">
                  <div>{{ 't758acc18' | t }}</div>
                </div>
                <div class="tag">
                  <div>{{ 'tn4a16f3f4' | t }}</div>
                </div>
                <div class="tag">
                  <div>{{ 'tnb1e191' | t }}</div>
                </div>
              </div>
              <p>{{ 'tn35caccd9' | t }}<br></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>