{{ 'breadcrumbs-tmm.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .tmm-breadcrumbs ul {
    gap: {{ section.settings.text_spacing }}px;
    align-items: center;
    justify-content: {{ section.settings.text_alignment }};
  }

  .tmm-breadcrumbs.capitalize ul li a {
    text-transform: {{ section.settings.text_transformation }};
    text-decoration: {{ section.settings.text_decoration }}
  }
{%- endstyle -%}

{%- assign t = template | split: '.' | first -%}

<nav 
  class="tmm-breadcrumbs page-width section-{{ section.id }}-padding" 
  role="navigation" 
  aria-label="breadcrumbs"
>
  <ul>
    <li>
      <a href="/" title="Home">Home</a>
    </li>

  {%- case t -%}
    {%- when 'page' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
        <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
      </svg>
  
      <li>
        <a href="{{ page.url }}" aria-current="page">{{- page.title -}}</a>
      </li>
    {%- when 'product' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
        <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
      </svg>
  
      <li>
        <a href="/collections/all" aria-current="shop">Shop All</a>
      </li>

      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
        <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
      </svg>

      {%- if collection.url -%}
        <li>
          {{- collection.title | link_to: collection.url -}}
        </li>

        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none"> <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/> </svg>
      {%- endif -%}
  
      <li>
        <a href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
      </li>
  
    {%- when 'collection' and collection.handle -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
        <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
      </svg>

      <li>
        <a href="/collections/all" aria-current="shop">Shop All</a>
      </li>
  
      {%- if current_tags -%}
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
          <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/> 
        </svg>
        
        <li>{{ collection.title | link_to: collection.url }}</li>

        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
          <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
        </svg>

        <li>
          {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
          <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
        </li>
      {%- else -%}
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
          <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
        </svg>

        <li>
          <a href="{{ collection.url }}" aria-current="page">{{- collection.title -}}</a>
        </li>
      {%- endif -%}
  
    {%- when 'blog' -%}
  
      {%- if current_tags -%}
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
          <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
        </svg>

        <li>{{- blog.title | link_to: blog.url -}}</li>

        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none"> <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/> </svg>

        <li>
          {% capture tag_url %}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
          <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
        </li>
      {%- else -%}
        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
          <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
        </svg>

        <li>
          <a href="{{ blog.url }}" aria-current="page">{{- blog.title -}}</a>
        </li>
      {%- endif -%}
  
    {%- when 'article' -%}
      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
        <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/> 
      </svg>

      <li>{{- blog.title | link_to: blog.url -}}</li>

      <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
        <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/> 
      </svg>

      <li>
        <a href="{{ article.url }}" aria-current="page">{{- article.title -}}</a>
      </li>

  {%- else -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12" fill="none">
      <path d="M1 1L6 6L1 11" stroke="black" stroke-width="1.5"/>
    </svg>

    <li aria-current="page">
      <a href="{{ request.path }}" aria-current="page">{{- page_title -}}</a>
    </li>
  {%- endcase -%}

  </ul>
</nav>

{% schema %}
  {
    "name": "Breadcrumbs",
    "settings": [
      {
        "type": "select",
        "id": "text_decoration",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "overline",
            "label": "Overline"
          },
          {
            "value": "underline",
            "label": "Underline"
          },
          {
            "value": "strike",
            "label": "Line-through"
          },
          {
            "value": "over_under",
            "label": "Overline-underline"
          }
        ],
        "default": "none",
        "label": "Text decoration"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ],
        "default": "flex-start",
        "label": "Text alignment"
      },
      {
        "type": "select",
        "id": "text_transformation",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "uppercase",
            "label": "Uppercase"
          },
          {
            "value": "lowercase",
            "label": "Lowercase"
          },
          {
            "value": "capitalize",
            "label": "Capitalize"
          }
        ],
        "default": "none",
        "label": "Text transform"
      },
      {
        "type": "range",
        "id": "text_spacing",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text spacing",
        "default": 18
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Breadcrumbs"
      }
    ]
  }
{% endschema %}