{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="tmm-features4 section-{{ section.id }}-padding tmm-section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
  <div class="tmm-interaction_wrap">
    <div class="tmm-padding-global">
      <div class="tmm-container-large">
        <div class="tmm-features4_container">
          <div class="tmm-margin-bottom tmm-margin-xxlarge">
            <div class="tmm-layout-grid tmm-features4-content">
              <div class="tmm-features4-content_left">
                <div class="tmm-margin-bottom tmm-margin-xsmall">
                  <div class="tmm-text-semibold">Discover</div>
                </div>
                <h2>Achieve Radiant Skin with Our Vegan Skincare</h2>
              </div>
              <div class="tmm-features4-content_right">
                <p class="tmm-text-size-medium">
                  At Oak, we believe in the power of nature to transform your skin. Our vegan skincare products are
                  carefully crafted using natural ingredients that nourish and rejuvenate. Follow our step-by-step
                  guide to unlock your skin&#x27;s true potential.
                </p>
              </div>
            </div>
          </div>
          <div class="tmm-layout-grid tmm-features4-list">
            <div class="tmm-features4-item">
              <div class="tmm-margin-bottom tmm-margin-small">
                <h3 class="tmm-heading-style-h4">Cleanse and Prep Your Skin</h3>
              </div>
              <p>
                Start your skincare routine by cleansing your face with our gentle vegan cleanser. This will remove
                impurities and prepare your skin for the next steps.
              </p>
            </div>
            <div class="tmm-features4-item">
              <div class="tmm-margin-bottom tmm-margin-small">
                <h3 class="tmm-heading-style-h4">Nourish and Hydrate Your Skin</h3>
              </div>
              <p>
                Apply our vegan moisturizer to provide deep hydration and nourishment to your skin. This will help
                restore its natural glow and elasticity.
              </p>
            </div>
            <div class="tmm-features4-item">
              <div class="tmm-margin-bottom tmm-margin-small">
                <h3 class="tmm-heading-style-h4">Protect and Rejuvenate Your Skin</h3>
              </div>
              <p>
                Finish off your skincare routine by applying our vegan sunscreen. This will protect your skin from
                harmful UV rays and help prevent premature aging.
              </p>
            </div>
          </div>
          <div class="tmm-margin-top margin-xlarge">
            <div class="tmm-button-group">
              <a
                href="#"
                class="tmm-button tmm-is-secondary tmm-button"
                >Shop</a
              >
              <a
                href="#"
                class="tmm-button tmm-is-link tmm-is-icon tmm-inline-block"
              >
                <div>Learn More</div>
                <div class="tmm-icon-embed-xxsmall tmm-embed">
                  <svg
                    width="16"
                    height="16"
                    viewbox="0 0 16 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6 3L11 8L6 13"
                      stroke="CurrentColor"
                      stroke-width="1.5"
                    ></path>
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
