{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .tmm-section-{{ section.id }} .tmm-slider1-heading {
    text-transform: {{ section.settings.header_text_transformation }};
  }

  .tmm-section-{{ section.id }} .tmm-slider1-content_middle {
    text-transform: {{ section.settings.body_text_transformation }};
  }

  .tmm-section-{{ section.id }} .tmm-button {
    transition: 0.2s;
  }

  .tmm-section-{{ section.id }} .tmm-slider1-left-arrow.tmm-slider1-left-arrow_position,
  .tmm-section-{{ section.id }} .tmm-slider1-right-arrow.tmm-slider1-right-arrow_position {
    background-color: {{ section.settings.arrow_button_color }};
  }

  {%- for block in section.blocks -%}
    .tmm-section-{{ section.id }} .tmm-button.tmm-button_{{ block.id }} {
      background-color: {{ block.settings.button_color }};
      border: 1px solid {{ block.settings.button_color }};
      color: {{ block.settings.button_text_color }};
    }

    .tmm-section-{{ section.id }} .tmm-button.tmm-button_{{ block.id }}.tmm-is-secondary {
      background-color: transparent;
      border: 1px solid {{ block.settings.button_color }};
    }

    .tmm-section-{{ section.id }} .tmm-button.tmm-button_{{ block.id }}:hover {
      opacity: 0.8;
    }
  {%- endfor -%}
{%- endstyle -%}

<div class="tmm-slider1 section-{{ section.id }}-padding tmm-section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
  <div class="tmm-padding-global">
    <div
      data-tmm-id="42408a7b-61d5-279b-999e-330e1301fd15"
      class="tmm-slider1-content none-padding"
    >
      <div
        data-delay="4000"
        data-animation="slide"
        class="tmm-slider1-block tmm-slider"
        data-autoplay="false"
        data-easing="ease"
        data-hide-arrows="false"
        data-disable-swipe="false"
        data-autoplay-limit="0"
        data-nav-spacing="4"
        data-duration="500"
        data-infinite="true"
      >
        <div class="tmm-slider1-mask tmm-slider-mask">
          {%- for block in section.blocks -%}
            <div
              data-tmm-id="42408a7b-61d5-279b-999e-330e1301fd18"
              class="tmm-slider-slide tmm-slide"
            >
              <div
                class="tmm-slider1-content_wrap tmm-slider1-content_container"
              >
                <div class="tmm-slider1-image tmm-margin-none">
                  {%- if block.settings.image != blank -%}
                    {% capture sizes %}(max-width: {{ block.settings.image.width | times: 2 }}px) 50vw, {{ block.settings.image.width }}px{% endcapture %}
                    {% capture widths %}{{ block.settings.image.width }}, {{ block.settings.image.width | times: 1.5 | round }}, {{ block.settings.image.width | times: 2 }}{% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: 600
                      | image_tag:
                        class: 'tmm-slider1-image-absolute',
                        widths: widths,
                        height: block.settings.image.height,
                        width: block.settings.image.width,
                        alt: block.settings.alt_text,
                        sizes: sizes,
                        preload: true
                    }}
                  {%- else -%}
                    {%- render 'TMM-placeholder', class: 'tmm-slider1-image-absolute' -%}
                  {%- endif -%}
                </div>
                <div class="tmm-slider1-content_block">
                  <{{ block.settings.heading_size }} class="tmm-slider1-heading"
                    >Product Title</{{ block.settings.heading_size }}
                  >
                  <div class="tmm-slider1-content_middle">
                    {{- block.settings.body_text -}}
                  </div>
                  {%- if block.settings.button_url != blank -%}
                    <a
                      href="{{ block.settings.button_url }}"
                      class="tmm-button_{{ block.id }} tmm-button-primary tmm-button{% if block.settings.button_style == 'outline' %} tmm-is-secondary{% endif %}"
                    >
                      {{- block.settings.button_text -}}
                    </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div
          class="tmm-slider1-left-arrow tmm-slider1-left-arrow_position tmm-slider-arrow-left"
        >
          {%- render 'TMM-icon-arrow',
            dir: 'left',
            background_color: section.settings.arrow_button_color,
            arrow_color: section.settings.arrow_color,
            class: 'tmm-slider-arrow',
            section: section
          -%}
        </div>
        <div
          class="tmm-slider1-right-arrow tmm-slider1-right-arrow_position tmm-slider-arrow-right"
        >
          {%-
            render 'TMM-icon-arrow',
            dir: 'right',
            background_color: section.settings.arrow_button_color,
            arrow_color: section.settings.arrow_color,
            class: 'tmm-slider-arrow',
            section: section
          -%}
        </div>
        <div class="tmm-slider1-active-nav tmm-slider1-nav_wrap"></div>
        <div
          class="tmm-slider1-active-nav_block tmm-slider-nav tmm-slider-nav-invert tmm-round"
        ></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TMM - Product Slider 1",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1",
      "info": "Only applicable for themes that have color schemes enabled."
    },
    {
      "type": "select",
      "id": "header_text_transformation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "capitalize",
      "label": "Header text transform"
    },
    {
      "type": "select",
      "id": "body_text_transformation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none",
      "label": "Body text transform"
    },
    {
      "type": "color",
      "id": "arrow_button_color",
      "default": "#000000",
      "label": "Arrow button color"
    },
    {
      "type": "color",
      "id": "arrow_color",
      "default": "#ffffff",
      "label": "Arrow color"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Product Slide",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            }
          ],
          "default": "h2",
          "label": "Header tag size"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Buy now"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button url"
        },
        {
          "type": "color",
          "id": "button_color",
          "default": "#000000",
          "label": "Button color"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "default": "#ffffff",
          "label": "Button text color"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "solid",
              "label": "Solid"
            },
            {
              "value": "outline",
              "label": "Outline"
            }
          ],
          "default": "solid",
          "label": "Button style"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "TMM - Product Slider 1",
      "blocks": [
        {
          "type": "slider"
        },
        {
          "type": "slider"
        }
      ]
    }
  ]
}
{% endschema %}
