{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .tmm-section-{{ section.id }} .tmm-product-list_item_text-link {
    display: block;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .tmm-section-{{ section.id }} .tmm-product-list_item_text-link {
      display: flex;
    }
  }

  .tmm-section-{{ section.id }} .tmm-padding-global {
    max-width: {{ section.settings.page_width }}px;
  }

  .tmm-section-{{ section.id }} .tmm-product-list-heading_text {
    text-transform: {{ section.settings.header_text_transformation }};
  }

  .tmm-section-{{ section.id }} .tmm-product-list-body_text {
    text-transform: {{ section.settings.body_text_transformation }};
  }

  .tmm-section-{{ section.id }} .tmm-button {
    transition: 0.2s;
  }

  .tmm-section-{{ section.id }} .tmm-button:hover {
    opacity: 0.8;
  }

  .tmm-section-{{ section.id }} .tmm-button.tmm-button_{{ section.id }} {
    background-color: {{ section.settings.button_color }};
    border: 1px solid {{ section.settings.button_color }};
    color: {{ section.settings.button_text_color }};
  }

  .tmm-section-{{ section.id }} .tmm-product-list_item_content .tmm-button {
    background-color: {{ section.settings.product_button_color }};
    border: 1px solid {{ section.settings.product_button_color }};
    color: {{ section.settings.product_button_text_color }};
  }

  .tmm-section-{{ section.id }} .tmm-button.tmm-button_{{ section.id }}.tmm-is-secondary {
    background-color: transparent;
    border: 1px solid {{ section.settings.button_color }};
  }

  .tmm-section-{{ section.id }} .tmm-product-list_item_content .tmm-button.tmm-is-secondary {
    background-color: transparent;
    border: 1px solid {{ section.settings.product_button_color }};
  }
{%- endstyle -%}

<section class="tmm-product-list_container section-{{ section.id }}-padding tmm-section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
  <div class="tmm-padding-global">
    <div class="tmm-container-large">
      <div class="tmm-product-list">
        <div class="tmm-interaction_wrap">
          <div class="tmm-margin-bottom tmm-margin-xxlarge">
            <div class="tmm-product-list-heading_wrap">
              <div class="tmm-product-list-heading">
                <div class="tmm-max-width-large">
                  {%- if section.settings.caption_text != blank -%}
                    <div class="tmm-margin-bottom tmm-margin-xsmall">
                      <div class="tmm-text-semibold">{{- section.settings.caption_text -}}</div>
                    </div>
                  {%- endif -%}
                  <div class="tmm-margin-bottom tmm-margin-xsmall">
                    <{{ section.settings.heading_size }} class="tmm-product-list-heading_text">
                      {{- section.settings.heading -}}
                    </{{ section.settings.heading_size }}>
                  </div>
                  <p class="tmm-product-list-body_text">
                    {{- section.settings.body_text -}}
                  </p>
                </div>
              </div>
              <div
                class="tmm-product-list-button_row tmm-hide-mobile-landscape"
              >
                {%- if section.settings.button_url != blank -%}
                  <a
                    href="{{ section.settings.button_url }}"
                    class="tmm-button_{{ section.id }} tmm-button-primary tmm-button{% if section.settings.button_style == 'outline' %} tmm-is-secondary{% endif %}"
                  >
                    {{- section.settings.button_text -}}
                  </a>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
        <div class="tmm-product-list_list_wrap">
          <div class="tmm-layout-grid tmm-product-list_list">
            {%- if section.settings.collection != blank -%}
              {%- for product in section.settings.collection.products -%}
                <div class="tmm-interaction_wrap">
                  <div class="tmm-product-list_item">
                    <div class="tmm-margin-bottom tmm-margin-xsmall">
                      <a
                        href="{{ product.url }}"
                        class="tmm-product-list_image_link tmm-inline-block"
                      >
                        <div class="tmm-product-list_image_wrap">
                          {%- if product.featured_image != blank -%}
                            {% capture sizes %}(max-width: {{ product.featured_image.width | times: 2 }}px) 50vw, {{ product.featured_image.width }}px{% endcapture %}
                            {% capture widths %}{{ product.featured_image.width }}, {{ product.featured_image.width | times: 1.5 | round }}, {{ product.featured_image.width | times: 2 }}{% endcapture %}
                            {{
                              product.featured_image
                              | image_url: width: 800
                              | image_tag:
                                class: 'tmm-product-list_item_image',
                                widths: widths,
                                height: product.featured_image.height,
                                width: product.featured_image.width,
                                alt: product.featured_image.alt,
                                sizes: sizes,
                                preload: true
                            }}
                          {%- else -%}
                            {%- render 'TMM-placeholder', class: 'tmm-product-list_item_image' -%}
                          {%- endif -%}
                        </div>
                      </a>
                    </div>
                    <div class="tmm-product-list_item_content">
                      <a
                        href="{{ product.url }}"
                        class="tmm-product-list_item_text-link tmm-inline-block"
                      >
                        <div class="tmm-product-list_item_content-left">
                          <p
                            class="tmm-text-weight-semibold"
                          >
                            {{- product.title -}}
                          </p>
                        </div>
                        <p
                          class="tmm-text-weight-semibold"
                        >
                          {%- case section.settings.price_style -%}
                            {%- when 'money' -%}
                              {{- product.price | money -}}
                            {%- when 'money_with_currency' -%}
                              {{- product.price | money_with_currency -}}
                            {%- when 'money_without_currency' -%}
                              {{- product.price | money_without_currency -}}
                            {%- when 'money_without_trailing_zeros' -%}
                              {{- product.price | money_without_trailing_zeros -}}
                          {%- endcase -%}
                        </p>
                      </a>
                      <div class="tmm-margin-top tmm-margin-xsmall">
                        <a
                          href="{{ product.url }}"
                          class="tmm-button-primary is-small max-width-full tmm-button{% if section.settings.product_button_style == 'outline' %} tmm-is-secondary{% endif %}"
                        >
                          {{- section.settings.product_button_text -}}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            {%- else -%}
              {%- for i in (1..12) -%}
                <div class="tmm-interaction_wrap">
                  <div class="tmm-product-list_item">
                    <div class="tmm-margin-bottom tmm-margin-xsmall">
                      <a
                        href="#"
                        class="tmm-product-list_image_link tmm-inline-block"
                      >
                        <div class="tmm-product-list_image_wrap">
                          {%- render 'TMM-placeholder', class: 'tmm-product-list_item_image' -%}
                        </div>
                      </a>
                    </div>
                    <div class="tmm-product-list_item_content">
                      <a
                        href="#"
                        class="tmm-product-list_item_text-link tmm-inline-block"
                      >
                        <div class="tmm-product-list_item_content-left">
                          <p
                            class="tmm-text-weight-semibold"
                          >
                            Product name
                          </p>
                        </div>
                        <p
                          class="tmm-text-weight-semibold"
                        >
                          $55
                        </p>
                      </a>
                      <div class="tmm-margin-top tmm-margin-xsmall">
                        <a
                          href="#"
                          class="tmm-button-primary tmm-button-is-secondary is-small max-width-full tmm-button"
                        >
                          View
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "TMM - Featured Collection",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1",
      "info": "Only applicable for themes that have color schemes enabled."
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "text",
      "id": "caption_text",
      "label": "Caption",
      "default": "Discover",
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Header",
      "default": "Our sleep collection",
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        }
      ],
      "default": "h2",
      "label": "Header tag size"
    },
    {
      "type": "select",
      "id": "header_text_transformation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "capitalize",
      "label": "Header text transform"
    },
    {
      "type": "text",
      "id": "body_text",
      "label": "Body text",
      "default": "Conquer your day with the ultimate comfort experience."
    },
    {
      "type": "select",
      "id": "body_text_transformation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none",
      "label": "Body text transform"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Buy now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "color",
      "id": "button_color",
      "default": "#000000",
      "label": "Button color"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "default": "#000000",
      "label": "Button text color"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "solid",
      "label": "Button style"
    },
    {
      "type": "select",
      "id": "price_style",
      "options": [
        {
          "value": "money",
          "label": "Money"
        },
        {
          "value": "money_with_currency",
          "label": "Money with currency"
        },
        {
          "value": "money_without_currency",
          "label": "Money without currency"
        },
        {
          "value": "money_without_trailing_zeros",
          "label": "Money without trailing zeros"
        }
      ],
      "default": "money",
      "label": "Product price display"
    },
    {
      "type": "text",
      "id": "product_button_text",
      "label": "Product button text",
      "default": "View"
    },
    {
      "type": "color",
      "id": "product_button_color",
      "default": "#000000",
      "label": "Product button color"
    },
    {
      "type": "color",
      "id": "product_button_text_color",
      "default": "#ffffff",
      "label": "Product button text color"
    },
    {
      "type": "select",
      "id": "product_button_style",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline",
      "label": "Product button style"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "800",
          "label": "Small"
        },
        {
          "value": "1200",
          "label": "Medium"
        },
        {
          "value": "1600",
          "label": "Large"
        }
      ],
      "default": "1200",
      "label": "Page width size"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
   "presets": [
    {
      "name": "TMM - Featured Collection"
    }
  ]
}
{% endschema %}
