{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {%- for block in section.blocks -%}
    {%- liquid
      assign new_image_height = 450
      if block.settings.image_orientation == 'landscape'
        assign new_image_height = 250
      endif
    -%}

    {%- if block.settings.image != blank -%}
      {%- if block.settings.object_fit == 'contain' or block.settings.object_fit == 'scale-down' -%}
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }},
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }} .tmm-gallery2-image {
          --og-width-x-new-height_{{ block.id }}: calc({{ block.settings.image.width }}px * {{ new_image_height }});
          width: calc(var(--og-width-x-new-height_{{ block.id }}) / {{ block.settings.image.height}});
          max-width: 100%;
          margin: 0 auto;
        }
      {%- endif -%}

      {%- if block.settings.image_orientation == 'landscape' -%}
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }} {
          height: 250px;
        }
      {%- endif -%}

      .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }} .tmm-gallery2-image {
        object-fit: {{ block.settings.object_fit }};
        object-position: {{ block.settings.object_position }};
      }
    {%- endif -%}
  {%- endfor -%}
{%- endstyle -%}

{%- assign block_maximum_iteration = 0 -%}
{%- assign grid_container_index = 1 -%}

<section class="tmm-gallery2-container section-{{ section.id }}-padding tmm-section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
  <div class="tmm-padding-global">
    <div class="tmm-container-large">
      <div class="tmm-padding-section-large">
        <div class="tmm-interaction_wrap">
          <div class="tmm-margin-bottom tmm-margin-xxlarge">
            <div class="tmm-text-align-center">
              <div
                class="tmm-max-width-large tmm-align-center tmm-gallery2-text"
              >
                <div class="tmm-margin-bottom tmm-margin-small">
                  <h2>Browse Gallery</h2>
                </div>
                <p class="tmm-text-size-medium">Discover our top-selling products and happy customers</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tmm-layout-grid tmm-gallery2-component">
          {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
              {%- if forloop.index == grid_container_index -%}
                <div class="tmm-interaction_wrap">
                  <div class="tmm-layout-grid tmm-gallery2-row">
              {%- endif -%}
              <a
                href="#"
                id="tmm-node-_4eabc478-9f45-2c16-0a02-c1b37d97d159-7d97d14b"
                class="tmm-gallery2-lightbox-link tmm-inline-block tmm-lightbox tmm-gallery2-image-block_{{ block.id }}"
              >
                <div class="tmm-gallery2-image_wrap">
                  {%- if block.settings.image != blank -%}
                    {% capture sizes %}(max-width: {{ block.settings.image.width | times: 2 }}px) 50vw, {{ block.settings.image.width }}px{% endcapture %}
                    {% capture widths %}{{ block.settings.image.width }}, {{ block.settings.image.width | times: 1.5 | round }}, {{ block.settings.image.width | times: 2 }}{% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: 600
                      | image_tag:
                        class: 'tmm-gallery2-image',
                        widths: widths,
                        height: block.settings.image.height,
                        width: block.settings.image.width,
                        alt: block.settings.alt_text,
                        sizes: sizes,
                        preload: true
                    }}
                  {%- else -%}
                    {%- render 'TMM-placeholder', class: 'tmm-gallery2-image' -%}
                  {%- endif -%}
                </div>
                <script
                  type="application/json"
                  class="tmm-json"
                >
                  {
                      "items": [
                          {
                            "_id": "{{ block.settings.image.id }}",
                            "height": "{{ block.settings.height }}",
                            "url": "{{ block.settings.image | image_url }}",
                            "width": "{{ block.settings.width }}",
                            "type": "image"
                          }
                      ],
                      "group": "gallery-2"
                  }
                </script>
              </a>
              {%- if forloop.index == block_maximum_iteration -%}
                {%- assign block_maximum_iteration = block_maximum_iteration | plus: 3 -%}
                {%- assign grid_container_index = block_maximum_iteration | plus: 1 -%}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          {% else %}
            {%- for i in (1..6) -%}
              {%- if forloop.index == grid_container_index -%}
                <div class="tmm-interaction_wrap">
                  <div class="tmm-layout-grid tmm-gallery2-row">
              {%- endif -%}
              <a
                href="#"
                id="tmm-node-_4eabc478-9f45-2c16-0a02-c1b37d97d159-7d97d14b"
                class="tmm-gallery2-lightbox-link tmm-inline-block tmm-lightbox"
              >
                <div class="tmm-gallery2-image_wrap">
                  {%- render 'TMM-placeholder', class: 'tmm-gallery2-image' -%}
                </div>
                <script
                  type="application/json"
                  class="tmm-json"
                >
                  {
                    "items": [
                        {
                            "_id": "example_img",
                            "origFileName": "image-placeholder.svg",
                            "fileName": "image-placeholder.svg",
                            "fileSize": 2063,
                            "height": 150,
                            "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                            "width": 150,
                            "type": "image"
                        }
                    ],
                    "group": "gallery-2"
                  }
                </script>
              </a>
              {%- if forloop.index == block_maximum_iteration -%}
                {%- assign block_maximum_iteration = block_maximum_iteration | plus: 3 -%}
                {%- assign grid_container_index = block_maximum_iteration | plus: 1 -%}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "TMM - Gallery 2",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1",
      "info": "Only applicable for themes that have color schemes enabled."
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "object_fit",
          "options": [
            {
              "value": "cover",
              "label": "cover"
            },
            {
              "value": "contain",
              "label": "contain"
            },
            {
              "value": "none",
              "label": "none"
            },
            {
              "value": "fill",
              "label": "fill"
            },
            {
              "value": "scale-down",
              "label": "scale-down"
            }
          ],
          "default": "cover",
          "label": "Image fit"
        },
        {
          "type": "select",
          "id": "object_position",
          "options": [
            {
              "value": "bottom",
              "label": "bottom"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "right",
              "label": "right"
            },
            {
              "value": "top",
              "label": "top"
            }
          ],
          "default": "center",
          "label": "Image position"
        },
        {
          "type": "select",
          "id": "image_orientation",
          "options": [
            {
              "value": "landscape",
              "label": "landscape"
            },
            {
              "value": "portrait",
              "label": "portrait"
            }
          ],
          "default": "portrait",
          "label": "Image position"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Image alt text"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "TMM - Gallery 2"
    }
  ]
}
{% endschema %}
