{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .tmm-section-{{ section.id }} .tmm-gallery-image_overlay {
    background-color: {{ section.settings.overlay_color }};
  }
{%- endstyle -%}

<div class="tmm-relative-container tmm-gallery section-{{ section.id }}-padding tmm-section-{{ section.id }}">
  <div class="tmm-interaction_wrap">
    <div class="tmm-padding-global">
      <div class="tmm-gallery-content">
        <div class="tmm-gallery-columns tmm-row">
          <div class="tmm-gallery-columns_left tmm-col tmm-col-6">
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay">
                  <div class="tmm-visually-hidden"></div>
                </div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay">
                  <div class="tmm-visually-hidden"></div>
                </div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": ""
                }
              </script>
            </a>
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay">
                  <div class="tmm-visually-hidden"></div>
                </div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
          </div>
          <div class="tmm-gallery-columns_right tmm-col tmm-col-6">
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay">
                  <div class="tmm-visually-hidden"></div>
                </div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap video-version">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay">
                  <div class="tmm-visually-hidden"></div>
                </div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
            <a
              href="#"
              class="tmm-gallery-lightbox tmm-inline-block tmm-lightbox"
            >
              <div class="tmm-gallery-image_wrap">
                {%- render 'TMM-placeholder', class: 'tmm-gallery-image' -%}
                <div class="tmm-gallery-image_overlay">
                  <div class="tmm-visually-hidden"></div>
                </div>
              </div>
              <script
                type="application/json"
                class="tmm-json"
              >
                {
                	"items": [
                		{
                			"_id": "example_img",
                			"origFileName": "image-placeholder.svg",
                			"fileName": "image-placeholder.svg",
                			"fileSize": 2063,
                			"height": 150,
                			"url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                			"width": 150,
                			"type": "image"
                		}
                	],
                	"group": "Gallery"
                }
              </script>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TMM - Gallery 1",
  "settings": [
    {
      "type": "color",
      "id": "overlay_color",
      "default": "#000000",
      "label": "Overlay color"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Gallery Item",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "item",
          "label": "Image"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "TMM - Gallery 1",
      "blocks": [
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
