{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .tmm-section-{{ section.id }}.tmm-nav {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .tmm-section-{{ section.id }}.tmm-nav {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  .tmm-section-{{ section.id }} .tmm-button1.solid,
  .tmm-section-{{ section.id }} .tmm-navbar2-menu_icon > div {
    background-color: {{ section.settings.button1_color }};
    border: 1px solid {{ section.settings.button1_color }};
  }

  .tmm-section-{{ section.id }} .tmm-button1.outline {
    background-color: transparent;
    border: 1px solid {{ section.settings.button1_color }};
    color: {{ section.settings.button1_color }};
  }

  .tmm-section-{{ section.id }} .tmm-button2.solid {
    background-color: {{ section.settings.button2_color }};
    border: 1px solid {{ section.settings.button2_color }};
  }

  .tmm-section-{{ section.id }} .tmm-button2.outline {
    background-color: transparent;
    border: 1px solid {{ section.settings.button2_color }};
    color: {{ section.settings.button2_color }};
  }

  {%- if section.settings.show_line_separators -%}
    .tmm-section-{{ section.id }}.tmm-nav {
    	border-top: 1px solid #000;
    	border-bottom: 1px solid #000;
    }
  {%- endif -%}

  {%- if section.settings.sticky_header_type -%}
    .tmm-section-{{ section.id }}.tmm-nav {
      position: fixed;
      top: 0;
    }
  {%- endif -%}

  .tmm-section-{{ section.id }}.tmm-nav .tmm-nav-link,
  .tmm-section-{{ section.id }}.tmm-nav .tmm-dropdown-link,
  .tmm-section-{{ section.id }} .tmm-button {
    text-transform: {{ section.settings.text_transformation }};
    text-decoration: {{ section.settings.text_decoration }};
  }
{%- endstyle -%}

<div
  data-collapse="medium"
  data-animation="default"
  data-duration="400"
  fs-scrolldisable-element="smart-nav"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="tmm-section-{{ section.id }} tmm-navbar2-component tmm-nav section-{{ section.id }}-padding"
>
  <div class="tmm-navbar2-container">
    <a
      href="{{ routes.root_url }}"
      class="tmm-navbar2-tablet-logo_link tmm-nav-brand"
    >
      {%- if settings.logo != blank -%}
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{
          settings.logo
          | image_url: width: 600
          | image_tag:
            class: 'tmm-navbar2-logo',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
        }}
      {%- else -%}
        <span class="tmm-heading-style-h3">{{ shop.name }}</span>
      {%- endif -%}
    </a>
    <nav
      role="navigation"
      class="tmm-navbar2-menu is-page-height-tablet tmm-nav-menu"
    >
      {%- for link in section.settings.menu.links -%}
        {%- if link.links.size > 0 -%}
          <div
            data-delay="200"
            data-hover="true"
            class="tmm-navbar2-menu_dropdown tmm-dropdown"
          >
            <div class="tmm-navbar2-dropdown_toggle tmm-dropdown-toggle">
              <a
                href="{{- link.url -}}"
                class="tmm-navbar2-link tmm-nav-link"
              >
                {{- link.title -}}
              </a>
              <div class="tmm-dropdown-chevron tmm-embed">
                <svg
                  width=" 100%"
                  height=" 100%"
                  viewbox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                  	fill-rule="evenodd"
                  	clip-rule="evenodd"
                  	d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z"
                  	fill="currentColor"
                  ></path>
                </svg>
              </div>
            </div>
            <nav class="tmm-navbar2-dropdown_list tmm-dropdown-list">
              {%- for child_link in link.links -%}
                <a
                  href="{{- child_link.url -}}"
                  class="tmm-navbar2-dropdown_link tmm-dropdown-link"
                >
                  {{- child_link.title -}}
                </a>
                {%- if child_link.links.size > 0 -%}
                  <ul class="tmm-padding-x-35">
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a
                          href="{{- grandchild_link.url -}}"
                          class="tmm-navbar2-dropdown_link tmm-dropdown-link"
                        >
                          {{- grandchild_link.title -}}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              {%- endfor -%}
            </nav>
          </div>
        {%- else -%}
          <a
            href="{{- link.url -}}"
            class="tmm-navbar2-link tmm-nav-link"
          >
            {{- link.title -}}
          </a>
        {%- endif -%}
      {%- endfor -%}
      <div class="tmm-navbar2-menu_buttons">
        <a
          href="{{- section.settings.button1_link -}}"
          class="tmm-button tmm-button1 is-small tmm-button {{ section.settings.button1_type }}"
        >
          {{- section.settings.button1_text -}}
        </a>
        <a
          href="{{- section.settings.button2_link -}}"
          class="tmm-button tmm-button2 is-small tmm-button {{ section.settings.button2_type }}"
        >
          {{- section.settings.button2_text -}}
        </a>
      </div>
    </nav>
    <div class="tmm-navbar2-menu_button tmm-nav-button">
      <div class="tmm-menu-icon1">
        <div class="tmm-menu-icon1_top">
          <div class="tmm-visually-hidden"></div>
        </div>
        <div class="tmm-menu-icon1_middle">
          <div class="tmm-menu-icon1_middle_inner">
            <div class="tmm-visually-hidden"></div>
          </div>
        </div>
        <div class="tmm-menu-icon1_bottom">
          <div class="tmm-visually-hidden"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "TMM - Navbar 2",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "sticky_header_type",
      "default": false,
      "label": "Sticky header"
    },
    {
      "type": "checkbox",
      "id": "show_line_separators",
      "default": true,
      "label": "Show line seperators"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "select",
      "id": "text_transformation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "capitalize",
      "label": "Text transform"
    },
    {
      "type": "select",
      "id": "text_decoration",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "overline",
          "label": "Overline"
        },
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "line-through",
          "label": "Line-through"
        },
        {
          "value": "underline overline",
          "label": "Overline-underline"
        }
      ],
      "default": "none",
      "label": "Text decoration"
    },
    {
      "type": "select",
      "id": "button1_type",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "outline",
      "label": "Button one style"
    },
    {
      "type": "text",
      "id": "button1_text",
      "default": "Shop Now",
      "label": "Button one text"
    },
    {
      "type": "url",
      "id": "button1_link",
      "label": "Button one link"
    },
    {
      "type": "color",
      "id": "button1_color",
      "default": "#000000",
      "label": "Button one color"
    },
    {
      "type": "select",
      "id": "button2_type",
      "options": [
        {
          "value": "solid",
          "label": "Solid"
        },
        {
          "value": "outline",
          "label": "Outline"
        }
      ],
      "default": "solid",
      "label": "Button two style"
    },
    {
      "type": "text",
      "id": "button2_text",
      "default": "Shop Now",
      "label": "Button two text"
    },
    {
      "type": "url",
      "id": "button2_link",
      "label": "Button two link"
    },
    {
      "type": "color",
      "id": "button2_color",
      "default": "#000000",
      "label": "Button two color"
    },
    {
      "type": "header",
      "content": "Bottom spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
   "presets": [
    {
      "name": "TMM - Navbar 2"
    }
  ]
}
{% endschema %}
