{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<section class="tmm-product-options section-{{ section.id }}-padding tmm-section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
  <div class="tmm-interaction_wrap">
    <div class="tmm-padding-global">
      <div class="tmm-container-large">
        <div class="tmm-padding-section-medium">
          <div class="tmm-product-options1_container">
            <div class="tmm-product-options1-breadcrumbs">
              <a
                href="#"
                class="tmm-breadcrumb-link tmm-inline-block"
              >
                <div>Explore All</div>
              </a>
              <div class="tmm-breadcrumb-divider tmm-embed">
                <svg
                  width="16"
                  height="16"
                  viewbox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                  	d="M6 3L11 8L6 13"
                  	stroke="CurrentColor"
                  	stroke-width="1.5"
                  ></path>
                </svg>
              </div>
              <a
                href="#"
                class="tmm-breadcrumb-link tmm-inline-block"
              >
                <div>Skincare</div>
              </a>
              <div class="tmm-breadcrumb-divider tmm-embed">
                <svg
                  width="16"
                  height="16"
                  viewbox="0 0 16 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                  	d="M6 3L11 8L6 13"
                  	stroke="CurrentColor"
                  	stroke-width="1.5"
                  ></path>
                </svg>
              </div>
              <a
                href="#"
                class="tmm-breadcrumb-link tmm-inline-block"
              >
                <div>Product Name</div>
              </a>
            </div>
            <div class="tmm-layout-grid tmm-product-options1_layout">
              <div
                id="tmm-node-b306bf49-d46f-3b40-657f-7c31ac97d71c-ac97d70a"
                class="tmm-product-options1-gallery"
              >
                <a
                  href="#"
                  id="tmm-node-b306bf49-d46f-3b40-657f-7c31ac97d71d-ac97d70a"
                  class="tmm-product-options1-lightbox tmm-inline-block tmm-lightbox"
                >
                  <div class="tmm-product-options-image_wrap">
                    <img
                      src="images/6191a88a1c0e39463c2bf022_placeholder-image.svg"
                      loading="lazy"
                      alt=""
                      class="tmm-product-options1_image"
                    >
                  </div>
                  <script
                    type="application/json"
                    class="tmm-json"
                  >
                    {
                    	"items": [],
                    	"group": ""
                    }
                  </script>
                </a>
                <div
                  id="tmm-node-b306bf49-d46f-3b40-657f-7c31ac97d720-ac97d70a"
                  class="tmm-product-options-thumbnails_wrap hide-mobile-landscape"
                >
                  <div class="tmm-product-options1-thumbnails">
                    <div
                      id="tmm-node-b306bf49-d46f-3b40-657f-7c31ac97d722-ac97d70a"
                      class="tmm-product-options-thumbnail-item"
                    >
                      <a
                        href="#"
                        class="tmm-product-options1-lightbox tmm-inline-block tmm-lightbox"
                      >
                        <div class="tmm-product-options-image_wrap">
                          <img
                            src="images/6191a88a1c0e39463c2bf022_placeholder-image.svg"
                            loading="lazy"
                            alt=""
                            class="tmm-product-options1_image"
                          >
                        </div>
                        <script
                          type="application/json"
                          class="tmm-json"
                        >
                          {
                          	"items": [],
                          	"group": ""
                          }
                        </script>
                      </a>
                    </div>
                    <div
                      id="tmm-node-b306bf49-d46f-3b40-657f-7c31ac97d726-ac97d70a"
                      class="tmm-product-options-thumbnail-item"
                    >
                      <a
                        href="#"
                        class="tmm-product-options1-lightbox tmm-inline-block tmm-lightbox"
                      >
                        <div class="tmm-product-options-image_wrap">
                          <img
                            src="images/6191a88a1c0e39463c2bf022_placeholder-image.svg"
                            loading="lazy"
                            alt=""
                            class="tmm-product-options1_image"
                          >
                        </div>
                        <script
                          type="application/json"
                          class="tmm-json"
                        >
                          {
                          	"items": [],
                          	"group": ""
                          }
                        </script>
                      </a>
                    </div>
                    <div
                      id="tmm-node-b306bf49-d46f-3b40-657f-7c31ac97d72a-ac97d70a"
                      class="tmm-product-options-thumbnail-item"
                    >
                      <a
                        href="#"
                        class="tmm-product-options1-lightbox tmm-inline-block tmm-lightbox"
                      >
                        <div class="tmm-product-options-image_wrap">
                          <img
                            src="images/6191a88a1c0e39463c2bf022_placeholder-image.svg"
                            loading="lazy"
                            alt=""
                            class="tmm-product-options1_image"
                          >
                        </div>
                        <script
                          type="application/json"
                          class="tmm-json"
                        >
                          {
                          	"items": [],
                          	"group": ""
                          }
                        </script>
                      </a>
                    </div>
                    <div
                      id="tmm-node-b306bf49-d46f-3b40-657f-7c31ac97d72e-ac97d70a"
                      class="tmm-product-options-thumbnail-item"
                    >
                      <a
                        href="#"
                        class="tmm-product-options1-lightbox tmm-inline-block tmm-lightbox"
                      >
                        <div class="tmm-product-options-image_wrap">
                          <img
                            src="images/6191a88a1c0e39463c2bf022_placeholder-image.svg"
                            loading="lazy"
                            alt=""
                            class="tmm-product-options1_image"
                          >
                        </div>
                        <script
                          type="application/json"
                          class="tmm-json"
                        >
                          {
                          	"items": [],
                          	"group": ""
                          }
                        </script>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tmm-product-options-details">
                <div class="tmm-margin-bottom tmm-margin-xxsmall">
                  <h1 class="tmm-heading-style-h3">Product Name</h1>
                </div>
                <div class="tmm-margin-bottom tmm-margin-small">
                  <div class="tmm-heading-style-h5">$55</div>
                </div>
                <div class="tmm-margin-bottom tmm-margin-small">
                  <div class="tmm-product-options1-reviews_wrap">
                    <div class="tmm-product-options1-rating_wrap">
                      <div class="tmm-star-icon">
                        <div class="tmm-icon-embed-xxsmall tmm-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewbox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                            	d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z"
                            	fill="CurrentColor"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <div class="tmm-star-icon">
                        <div class="tmm-icon-embed-xxsmall tmm-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewbox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                            	d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z"
                            	fill="CurrentColor"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <div class="tmm-star-icon">
                        <div class="tmm-icon-embed-xxsmall tmm-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewbox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                            	d="M0.201432 8.35425C0.0324796 8.23123 -0.0397528 8.01452 0.021606 7.81473L0.101529 7.56496C0.159961 7.36756 0.335635 7.22781 0.541103 7.21527L6.92493 6.70573L9.37256 0.821007C9.45466 0.614853 9.66074 0.485543 9.88206 0.501294H10.1418C10.3505 0.496866 10.539 0.62523 10.6114 0.821007L13.069 6.70573L19.4528 7.21527C19.6583 7.22781 19.8339 7.36756 19.8924 7.56496L19.9723 7.81473C20.0403 8.00821 19.9805 8.22355 19.8224 8.35425L15.0071 12.4905L16.4857 18.695C16.5344 18.8936 16.4596 19.1021 16.2959 19.2245L16.0061 19.3843C15.8371 19.4986 15.6157 19.4986 15.4467 19.3843L10.0119 16.0873L4.54723 19.4143C4.37823 19.5286 4.15676 19.5286 3.98777 19.4143L3.76798 19.2645C3.60419 19.142 3.52945 18.9335 3.57816 18.7349L5.01677 12.4905L0.201432 8.35425Z"
                            	fill="CurrentColor"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <div class="tmm-star-icon">
                        <div class="tmm-icon-embed-xxsmall tmm-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewbox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                            	fill-rule="evenodd"
                            	clip-rule="evenodd"
                            	d="M19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999ZM14.1087 16.56L12.9918 11.88L16.6517 8.74999L11.8549 8.36999L9.99999 3.90999V14.05L14.1087 16.56Z"
                            	fill="CurrentColor"
                            ></path>
                          </svg>
                        </div>
                      </div>
                      <div class="tmm-star-icon">
                        <div class="tmm-icon-embed-xxsmall tmm-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewbox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                            	fill-rule="evenodd"
                            	clip-rule="evenodd"
                            	d="M9.39166 0.819989C9.46995 0.624384 9.66017 0.497222 9.87035 0.499989H10.1296C10.3379 0.495557 10.5261 0.624037 10.5983 0.819989L13.0815 6.70999L19.454 7.21999C19.6591 7.23254 19.8344 7.37241 19.8928 7.56999L19.9725 7.81999C20.0381 8.00868 19.9829 8.21839 19.8329 8.34999L14.9863 12.5L16.4223 18.72C16.4709 18.9188 16.3963 19.1275 16.2328 19.25L16.0134 19.4C15.9282 19.467 15.8225 19.5023 15.7143 19.5C15.6229 19.5019 15.533 19.4776 15.455 19.43L9.99999 16.1L4.57492 19.43C4.49692 19.4776 4.40695 19.5019 4.31563 19.5C4.20738 19.5023 4.10167 19.467 4.01646 19.4L3.76714 19.25C3.60364 19.1275 3.52904 18.9188 3.57766 18.72L5.01371 12.5L0.177024 8.35999C0.0192942 8.22917 -0.0404113 8.01364 0.027436 7.81999L0.137134 7.56999C0.195462 7.37241 0.370823 7.23254 0.575926 7.21999L6.94839 6.70999L9.39166 0.819989ZM16.6517 8.74999L11.8549 8.36999L9.99999 3.90999L8.14509 8.36999L3.3483 8.74999L7.00822 11.88L5.88132 16.56L9.99999 14.05L14.1087 16.56L12.9918 11.88L16.6517 8.74999Z"
                            	fill="CurrentColor"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="tmm-text-size-small">(3.5 stars) • 10 ratings</div>
                  </div>
                </div>
                <div class="tmm-margin-bottom tmm-margin-small">
                  <p>
                    Experience the power of our vegan skincare products. Made with natural ingredients, our products are
                    designed to nourish and rejuvenate your skin.
                  </p>
                </div>
                <div
                  class="tmm-product-options1-options_container tmm-form"
                >
                  <form
                    id="tmm-product-options1-form"
                    name="email-form"
                    data-name="Email Form"
                    method="get"
                    class="tmm-product-options1-default-state"
                    data-tmm-page-id="66fe0979b699a164ac033dc9"
                    data-tmm-element-id="b306bf49-d46f-3b40-657f-7c31ac97d74c"
                  >
                    <div class="tmm-product-options-options-list">
                      <div class="tmm-produt-options-option">
                        <div class="tmm-form_field-label">Variant</div>
                        <div class="tmm-form-select-wrapper">
                          <select
                            id="field-2"
                            name="field-2"
                            data-name="Field 2"
                            class="tmm-form_input tmm-is-select-input tmm-select"
                          >
                            <option value="">Select</option>
                            <option value="Option One">Option One</option>
                            <option value="Option Two">Option Two</option>
                            <option value="Option Three">Option Three</option>
                          </select>
                        </div>
                      </div>
                      <div class="tmm-produt-options-option">
                        <div class="tmm-form_field-label">Variant</div>
                        <div class="tmm-variant-button-row">
                          <a
                            href="#"
                            class="tmm-variant-button tmm-is-active tmm-button"
                            >Option One</a
                          >
                          <a
                            href="#"
                            class="tmm-variant-button tmm-button"
                            >Option Two</a
                          >
                          <a
                            href="#"
                            class="tmm-variant-button is-disabled tmm-button"
                            >Option Three</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="tmm-produt-options-option">
                      <div class="tmm-form_field-label">Quantity</div>
                      <input
                        class="tmm-form_input is-quantity-input tmm-input"
                        maxlength="256"
                        name="Quantity-2"
                        data-name="Quantity 2"
                        placeholder="1"
                        type="number"
                        id="Quantity-2"
                      >
                    </div>
                    <a
                      href="#"
                      class="tmm-button is-add-to-cart-button tmm-button"
                      >Add to Cart</a
                    >
                    <a
                      href="#"
                      class="tmm-button tmm-is-secondary is-buy-notmm-button tmm-button"
                      >Buy Now</a
                    >
                    <div class="tmm-text-align-center">
                      <div class="tmm-text-size-tiny">Enjoy Free Shipping Over $50</div>
                    </div>
                  </form>
                  <div class="tmm-out-of-stock-state tmm-form-done">
                    <div>Thank you! Your order has been received!</div>
                  </div>
                  <div class="tmm-error-state tmm-form-fail">
                    <div>Oops! Something went wrong. Please try again.</div>
                  </div>
                </div>
                <div class="tmm-product-options1-accordion_wrap">
                  <div class="tmm-product-options1-accordion">
                    <div
                      data-tmm-id="b306bf49-d46f-3b40-657f-7c31ac97d770"
                      class="tmm-product-options1-accordion-heading"
                    >
                      <div class="tmm-text-semibold text-size-medium">Details</div>
                      <div class="tmm-product-options1-accordion-icon">
                        <div class="tmm-icon-embed-xsmall tmm-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewbox="0 0 24 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                            	fill-rule="evenodd"
                            	clip-rule="evenodd"
                            	d="M12.3977 16.1629C12.178 16.3826 11.8219 16.3826 11.6022 16.1629L5.86739 10.428C5.64772 10.2084 5.64772 9.85227 5.86739 9.63259L6.13256 9.36739C6.35222 9.14772 6.70838 9.14772 6.92805 9.36739L12 14.4393L17.0719 9.36739C17.2916 9.14772 17.6477 9.14772 17.8674 9.36739L18.1326 9.63259C18.3522 9.85227 18.3522 10.2084 18.1326 10.428L12.3977 16.1629Z"
                            	fill="currentColor"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="tmm-product-options1-accordion-details">
                      <div class="tmm-margin-bottom tmm-margin-small">
                        <p>
                          Discover the key features and benefits of our vegan skincare products. Our carefully crafted
                          formulas are designed to address specific skin concerns and deliver visible results.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tmm-product-options1-accordion">
                    <div
                      data-tmm-id="b306bf49-d46f-3b40-657f-7c31ac97d77a"
                      class="tmm-product-options1-accordion-heading"
                    >
                      <div class="tmm-text-semibold text-size-medium">Shipping</div>
                      <div class="tmm-product-options1-accordion-icon">
                        <div class="tmm-icon-embed-xsmall tmm-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewbox="0 0 24 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                            	fill-rule="evenodd"
                            	clip-rule="evenodd"
                            	d="M12.3977 16.1629C12.178 16.3826 11.8219 16.3826 11.6022 16.1629L5.86739 10.428C5.64772 10.2084 5.64772 9.85227 5.86739 9.63259L6.13256 9.36739C6.35222 9.14772 6.70838 9.14772 6.92805 9.36739L12 14.4393L17.0719 9.36739C17.2916 9.14772 17.6477 9.14772 17.8674 9.36739L18.1326 9.63259C18.3522 9.85227 18.3522 10.2084 18.1326 10.428L12.3977 16.1629Z"
                            	fill="currentColor"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="tmm-product-options1-accordion-details">
                      <div class="tmm-margin-bottom tmm-margin-small">
                        <p>
                          We offer fast and reliable shipping options to ensure your vegan skincare products arrive
                          safely at your doorstep. Enjoy the convenience of doorstep delivery.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tmm-product-options1-accordion">
                    <div
                      data-tmm-id="b306bf49-d46f-3b40-657f-7c31ac97d784"
                      class="tmm-product-options1-accordion-heading"
                    >
                      <div class="tmm-text-semibold text-size-medium">Returns</div>
                      <div class="tmm-product-options1-accordion-icon">
                        <div class="tmm-icon-embed-xsmall tmm-embed">
                          <svg
                            width="100%"
                            height="100%"
                            viewbox="0 0 24 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                            	fill-rule="evenodd"
                            	clip-rule="evenodd"
                            	d="M12.3977 16.1629C12.178 16.3826 11.8219 16.3826 11.6022 16.1629L5.86739 10.428C5.64772 10.2084 5.64772 9.85227 5.86739 9.63259L6.13256 9.36739C6.35222 9.14772 6.70838 9.14772 6.92805 9.36739L12 14.4393L17.0719 9.36739C17.2916 9.14772 17.6477 9.14772 17.8674 9.36739L18.1326 9.63259C18.3522 9.85227 18.3522 10.2084 18.1326 10.428L12.3977 16.1629Z"
                            	fill="currentColor"
                            ></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                    <div class="tmm-product-options1-accordion-details">
                      <div class="tmm-margin-bottom tmm-margin-small">
                        <p>
                          We stand behind the quality of our vegan skincare products. If you are not completely
                          satisfied with your purchase, please contact our customer support for assistance.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Section name",
  "settings": []
}
{% endschema %}
