{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .tmm-section-{{ section.id }} .tmm-padding-global {
    max-width: {{ section.settings.page_width }}px;
  }

  .tmm-section-{{ section.id }} .tmm-gallery2-header {
    text-transform: {{ section.settings.header_text_transformation }};
  }
  
  .tmm-section-{{ section.id }} .tmm-gallery2-body-text {
    text-transform: {{ section.settings.body_text_transformation }};
  }

  {%- for block in section.blocks -%}
    {%- if block.settings.image != blank -%}
      {%- if block.settings.image_orientation == 'landscape' -%}
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }},
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }} .tmm-gallery2-image_wrap {
          aspect-ratio: 2 / 1;
        }
      {%- elsif block.settings.image_orientation == 'portrait' -%}
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }},
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }} .tmm-gallery2-image_wrap {
          aspect-ratio: 1 / 2;
        }
      {%- else -%}
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }},
        .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }} .tmm-gallery2-image_wrap {
          aspect-ratio: 1 / 1;
        }
      {%- endif -%}

      .tmm-section-{{ section.id }} .tmm-gallery2-image-block_{{ block.id }} .tmm-gallery2-image {
        object-fit: {{ block.settings.object_fit }};
        object-position: {{ block.settings.object_position }};
      }
    {%- endif -%}
  {%- endfor -%}
{%- endstyle -%}

<section class="tmm-gallery2-container section-{{ section.id }}-padding tmm-section-{{ section.id }} color-{{ section.settings.color_scheme }} gradient">
  <div class="tmm-padding-global">
    <div class="tmm-container-large">
      <div class="tmm-interaction_wrap">
        <div class="tmm-margin-bottom tmm-margin-xxlarge">
          <div class="tmm-text-align-center">
            <div
              class="tmm-max-width-large tmm-align-center tmm-gallery2-text"
            >
              <div class="tmm-margin-bottom tmm-margin-small">
                <{{ section.settings.header_size }} class="tmm-gallery2-header">
                  {{- section.settings.header_text -}}
                </{{ section.settings.header_size }}>
              </div>
              <p class="tmm-gallery2-body-text">{{- section.settings.body_text -}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="tmm-interaction_wrap">
        <div class="tmm-gallery2-component">
          <div class="tmm-layout-grid tmm-gallery2-row">
            {%- if section.blocks.size > 0 -%}
              {%- for block in section.blocks -%}
                <a
                  {{ block.shopify_attributes }}
                  href="#"
                  id="tmm-node-_4eabc478-9f45-2c16-0a02-c1b37d97d159-7d97d14b"
                  class="tmm-gallery2-lightbox-link tmm-inline-block tmm-lightbox tmm-gallery2-image-block_{{ block.id }}"
                >
                  <div class="tmm-gallery2-image_wrap">
                    {%- if block.settings.image != blank -%}
                      {% capture sizes %}(max-width: {{ block.settings.image.width | times: 2 }}px) 50vw, {{ block.settings.image.width }}px{% endcapture %}
                      {% capture widths %}{{ block.settings.image.width }}, {{ block.settings.image.width | times: 1.5 | round }}, {{ block.settings.image.width | times: 2 }}{% endcapture %}
                      {{
                        block.settings.image
                        | image_url: width: 1200
                        | image_tag:
                          class: 'tmm-gallery2-image',
                          widths: widths,
                          height: block.settings.image.height,
                          width: block.settings.image.width,
                          alt: block.settings.image.alt,
                          sizes: sizes,
                          preload: true
                      }}
                    {%- else -%}
                      {%- render 'TMM-placeholder', class: 'tmm-gallery2-image' -%}
                    {%- endif -%}
                  </div>
                  <script
                    type="application/json"
                    class="tmm-json"
                  >
                    {%- if block.settings.image != blank -%}
                      {
                        "items": [
                          {
                            "_id": "{{ block.settings.image.id }}",
                            "height": "{{ block.settings.height }}",
                            "url": "{{ block.settings.image | image_url }}",
                            "width": "{{ block.settings.width }}",
                            "type": "image"
                          }
                        ],
                        "group": "Gallery_{{ section.id }}"
                      }
                    {%- else -%}
                      {
                        "items": [
                          {
                            "_id": "example_img",
                            "origFileName": "image-placeholder.svg",
                            "fileName": "image-placeholder.svg",
                            "fileSize": 2063,
                            "height": 150,
                            "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                            "width": 150,
                            "type": "image"
                          }
                        ],
                        "group": "Gallery_{{ section.id }}"
                      }
                    {%- endif -%}
                  </script>
                </a>
              {%- endfor -%}
            {% else %}
              {%- for i in (1..6) -%}
                <a
                  href="#"
                  id="tmm-node-_4eabc478-9f45-2c16-0a02-c1b37d97d159-7d97d14b"
                  class="tmm-gallery2-lightbox-link tmm-inline-block tmm-lightbox"
                >
                  <div class="tmm-gallery2-image_wrap">
                    {%- render 'TMM-placeholder', class: 'tmm-gallery2-image' -%}
                  </div>
                  <script
                    type="application/json"
                    class="tmm-json"
                  >
                    {
                      "items": [
                        {
                          "_id": "example_img",
                          "origFileName": "image-placeholder.svg",
                          "fileName": "image-placeholder.svg",
                          "fileSize": 2063,
                          "height": 150,
                          "url": "https://d3e54v103j8qbb.cloudfront.net/img/image-placeholder.svg",
                          "width": 150,
                          "type": "image"
                        }
                      ],
                      "group": "Gallery_{{ section.id }}"
                    }
                  </script>
                </a>
              {%- endfor -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "TMM - Gallery",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1",
      "info": "Only applicable for themes that have color schemes enabled."
    },
    {
      "type": "text",
      "id": "header_text",
      "default": "Browse our Gallery",
      "label": "Header"
    },
    {
      "type": "select",
      "id": "header_size",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "h5",
          "label": "H5"
        }
      ],
      "default": "h2",
      "label": "Header tag size"
    },
    {
      "type": "select",
      "id": "header_text_transformation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "capitalize",
      "label": "Header text transform"
    },
    {
      "type": "text",
      "id": "body_text",
      "default": "Discover our top-selling products and happy customers",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "body_text_transformation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        }
      ],
      "default": "none",
      "label": "Body text transform"
    },
    {
      "type": "header",
      "content": "Section spacing"
    },
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "800",
          "label": "Small"
        },
        {
          "value": "1200",
          "label": "Medium"
        },
        {
          "value": "1600",
          "label": "Large"
        }
      ],
      "default": "1200",
      "label": "Page width size"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "object_fit",
          "options": [
            {
              "value": "cover",
              "label": "Cover"
            },
            {
              "value": "contain",
              "label": "Contain"
            },
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "fill",
              "label": "Fill"
            },
            {
              "value": "scale-down",
              "label": "Scale-down"
            }
          ],
          "default": "cover",
          "label": "Image fit"
        },
        {
          "type": "select",
          "id": "object_position",
          "options": [
            {
              "value": "bottom",
              "label": "Bottom"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "top",
              "label": "Top"
            }
          ],
          "default": "center",
          "label": "Image position"
        },
        {
          "type": "select",
          "id": "image_orientation",
          "options": [
            {
              "value": "landscape",
              "label": "Landscape"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "square",
              "label": "Square"
            }
          ],
          "default": "square",
          "label": "Image position"
        }
      ]
    }
  ],
   "presets": [
    {
      "name": "TMM - Gallery"
    }
  ]
}
{% endschema %}
