{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  .tmm-section-{{ section.id }}.tmm-nav {
    margin-bottom: {{ section.settings.margin_bottom }}px;
  }
{%- endstyle -%}

<div
  data-collapse="medium"
  data-animation="over-left"
  data-duration="400"
  fs-scrolldisable-element="smart-nav"
  data-easing="ease"
  data-easing2="ease"
  role="banner"
  class="tmm-navbar1-component tmm-nav section-{{ section.id }}-padding tmm-section-{{ section.id }}"
>
  <div class="tmm-navbar1-container">
    <div class="tmm-navbar1-menu-button tmm-nav-button">
      <div class="tmm-navbar1-menu_icon">
        <div class="tmm-navbar1-menu_icon-top"></div>
        <div class="tmm-navbar1-menu_icon-middle"></div>
        <div class="tmm-navbar1-menu_icon-bottom"></div>
      </div>
    </div>
    <nav
      role="navigation"
      id="tmm-node-_6c5e477a-9506-ac21-1e2a-5e7e191428a9-191428a2"
      class="tmm-navbar1-menu tmm-nav-menu"
    >
      <a
        href="#"
        class="tmm-navbar1-tablet-logo_link tmm-nav-brand"
      >
        {%- if settings.logo != blank -%}
          {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
          {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
          {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
          {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
          {{
            settings.logo
            | image_url: width: 600
            | image_tag:
              class: 'tmm-navbar1-logo',
              widths: widths,
              height: logo_height,
              width: settings.logo_width,
              alt: logo_alt,
              sizes: sizes,
              preload: true
          }}
        {%- else -%}
          <span class="tmm-h2">{{ shop.name }}</span>
        {%- endif -%}
      </a>
      <a
        href="#"
        class="tmm-navbar1-link tmm-nav-link"
        >Shop Now</a
      >
      <a
        href="#"
        class="tmm-navbar1-link tmm-nav-link"
        >About Us</a
      >
      <div
        data-hover="true"
        data-delay="200"
        class="tmm-navbar1-menu_dropdown tmm-dropdown"
      >
        <div class="tmm-navbar1-menu_dropdown-toggle tmm-dropdown-toggle">
          <div class="text-block-6">Our Products</div>
          <div class="tmm-dropdown-chevron tmm-embed">
            <svg
              width=" 100%"
              height=" 100%"
              viewbox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
              	fill-rule="evenodd"
              	clip-rule="evenodd"
              	d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z"
              	fill="currentColor"
              ></path>
            </svg>
          </div>
        </div>
        <nav class="tmm-navbar1-menu_dropdown-list tmm-dropdown-list">
          <a
            href="#"
            class="tmm-navbar1-menu_dropdown-link tmm-dropdown-link"
            >Skincare Tips</a
          >
          <a
            href="#"
            class="tmm-navbar1-menu_dropdown-link tmm-dropdown-link"
            >Blog</a
          >
          <a
            href="#"
            class="tmm-navbar1-menu_dropdown-link tmm-dropdown-link"
            >Contact Us</a
          >
        </nav>
      </div>
      <a
        id="tmm-node-_58fa4208-d454-ddb4-2ec0-0da1ceaace48-191428a2"
        href="#"
        class="tmm-button is-tmm-navbar1-button tmm-navbar1-tablet_button tmm-button"
        >Sign Up</a
      >
    </nav>
    <a
      href="#"
      class="tmm-navbar1-logo_link tmm-nav-brand"
    >
      {%- if settings.logo != blank -%}
        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
        {{
          settings.logo
          | image_url: width: 600
          | image_tag:
            class: 'tmm-navbar1-logo',
            widths: widths,
            height: logo_height,
            width: settings.logo_width,
            alt: logo_alt,
            sizes: sizes,
            preload: true
        }}
      {%- else -%}
        <span class="tmm-h2">{{ shop.name }}</span>
      {%- endif -%}
    </a>
    <a
      id="tmm-node-_6c5e477a-9506-ac21-1e2a-5e7e191428c0-191428a2"
      href="#"
      class="tmm-button is-tmm-navbar1-button tmm-navbar1-desktop_button tmm-button"
      >Sign Up</a
    >
    <div class="tmm-navbar1-menu_background"></div>
  </div>
</div>

{% schema %}
{
  "name": "TMM - Navbar 1",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
