{%- assign headerSnippetPath = "header-pagechangelog" -%}{%- assign wfPage = "657615686374a2846b97a633" -%}{%- assign bodyClasses = "" -%}
  {%- render 'navbar' -%}
  <div id="top" class="section template-hero">
    <div class="main-container w-container">
      <div class="title-wrap-template-hero documentation">
        <h1>{{ 'tn71c2ed66' | t }}</h1>
        <div class="big-text">{{ 'tn685f5b0b' | t }}</div>
        <div class="space-40"></div>
        <a href="https://webflow.com/templates/designers/wavesdesign" target="_blank" class="cta w-button">{{ 'tn472e870c' | t }}</a>
      </div>
    </div>
  </div>
  <div class="section template-info">
    <div class="main-container w-container">
      <div class="columns-template w-row">
        <div class="left-column-template w-col w-col-4">
          <div class="wrap-sticky-navigation">
            <a href="#intro" class="link-sticky-navigation">{{ 't658fac3a' | t }}</a>
            <a href="#styling" class="link-sticky-navigation">{{ 'tnc8cd5f2' | t }}</a>
            <a href="#editing" class="link-sticky-navigation">{{ 't20e22a' | t }}</a>
            <a href="#template" class="link-sticky-navigation">{{ 'tnaa45a08' | t }}</a>
            <a href="#supports" class="link-sticky-navigation">{{ 'tnb54e851' | t }}</a>
          </div>
        </div>
        <div class="right-column-template w-col w-col-8">
          <div id="intro" class="tile-template-info">
            <div class="w-richtext">
              <h2>{{ 't658fac3a' | t }}</h2>
              <h3>{{ 'tn7f98a47c' | t }}</h3>
              <p>{{ 't15958d07' | t }}</p>
              <p>{{ 't200d' | t }}</p>
              <p>{{ 'tn2f4dffb3' | t }}</p>
              <h3>{{ 'tn6649bc93' | t }}</h3>
              <p>{{ 't54ff7149' | t }}<a href="https://university.webflow.com/">{{ 'tn485048f4' | t }}</a>{{ 'tn6c050e63' | t }}</p>
            </div>
          </div>
          <div id="styling" class="tile-template-info">
            <div class="w-richtext">
              <h2>{{ 'tnc8cd5f2' | t }}</h2>
              <p>{{ 't3ddbfadc' | t }}</p>
              <h3>{{ 't78a3a990' | t }}</h3>
              <p>{{ 'tn562ebc0e' | t }}<br><br><strong>{{ 'tn7b5d4238' | t }}</strong></p>
              <ol start="" role="list">
                <li>{{ 'tn55e9f5dc' | t }}</li>
                <li>{{ 't1dcf8523' | t }}</li>
                <li>{{ 't37bd613c' | t }}</li>
                <li>{{ 't7e009f42' | t }}</li>
                <li>{{ 't5c54a999' | t }}</li>
              </ol>
              <p>{{ 't7a668fc1' | t }}</p>
              <figure style="padding-bottom:56.25%" class="w-richtext-align-fullwidth w-richtext-figure-type-video">
                <div><iframe src="https://www.loom.com/embed/3e795778c3f74199aa601935a79f8266" frameborder="0" allowfullscreen=""></iframe></div>
              </figure>
              <h3>{{ 't40e8de4' | t }}</h3>
              <p>{{ 'tn317cd74f' | t }}<a href="https://www.fontshare.com/licenses/itf-ffl" target="_blank">{{ 't1cbdbcd0' | t }}</a>{{ 'tn3d3d3f76' | t }}</p>
              <p><strong>{{ 'tn7a7dcd2b' | t }}</strong>{{ 't3fc21ce3' | t }}<strong>{{ 't26384a89' | t }}</strong></p>
              <ol start="" role="list">
                <li>{{ 'tn7cb3428' | t }}</li>
                <li>{{ 'tn1981d17d' | t }}</li>
                <li>{{ 't13ba2dc1' | t }}</li>
              </ol>
              <p>{{ 't7a668fcd' | t }}</p>
              <figure style="padding-bottom:56.25%" class="w-richtext-align-fullwidth w-richtext-figure-type-video">
                <div><iframe src="https://www.loom.com/embed/d552370902ab4d2f961a7a6dfe4a336c" frameborder="0" allowfullscreen=""></iframe></div>
              </figure>
              <p>{{ 't200d' | t }}</p>
              <p>{{ 't41eed602' | t }}<strong>{{ 't6db5fb4e' | t }}</strong></p>
              <ol start="" role="list">
                <li>{{ 't7e99000e' | t }}</li>
                <li>{{ 'tn394f4848' | t }}</li>
                <li>{{ 't13ba2dc1' | t }}</li>
              </ol>
              <h3>{{ 't43362fa' | t }}</h3>
              <p>{{ 'tn76dd15f5' | t }}</p>
            </div>
          </div>
          <div id="editing" class="tile-template-info">
            <div class="w-richtext">
              <h2>{{ 'tnd4f7288' | t }}</h2>
              <p>{{ 'tn4f70b622' | t }}</p>
              <h3>{{ 't271233d0' | t }}</h3>
              <p>{{ 'tn667b9c98' | t }}<br><br>{{ 'tn74ddae2' | t }}</p>
              <p>{{ 't200d' | t }}</p>
              <figure style="max-width:504pxpx" class="w-richtext-align-fullwidth">
                <div><img src="{{ '63be7c94c18c4368cddde2d9_63b955600f35d3c25de1b993_637ff2fbbfb191fe19a92ea3_6355c01915baa60f151445e8_62e53b0b86728d4935efc735_zrzut-ekranu-2022-07-30-o-15.06.51.png' | asset_url }}" alt=""></div>
                <figcaption>{{ 'tn422b07c5' | t }}</figcaption>
              </figure>
              <p>{{ 't200d' | t }}</p>
              <p>{{ 't208ee5f3' | t }}</p>
              <p>{{ 't200d' | t }}</p>
              <figure style="max-width:504pxpx" class="w-richtext-align-fullwidth">
                <div><img src="{{ '63be7c940aae544367921828_63b95560d0a70658e3a1bfcc_637ff2fb0db4527382bf3b04_6355c019c86d7208da775054_62e53b5714ccf278f9ab7dfc_zrzut-ekranu-2022-07-30-o-15.08.06.png' | asset_url }}" alt=""></div>
                <figcaption>{{ 'tn4543efb6' | t }}</figcaption>
              </figure>
              <p>{{ 't200d' | t }}</p>
              <p>{{ 't120de771' | t }}</p>
              <p>{{ 't200d' | t }}</p>
              <figure style="max-width:" class="w-richtext-align-center">
                <div><img src="{{ '63be7c943f5b7542d65f2dbc_63b955603d3d7a3064480e21_637ff2fc3293c36c2f8eae09_6355c01a1bb1a26292e14141_62e53b9e2cf39754e44667b4_zrzut-ekranu-2022-07-30-o-15.09.20.png' | asset_url }}" alt=""></div>
                <figcaption>{{ 'tn5a316163' | t }}</figcaption>
              </figure>
              <p>{{ 'tn65828eac' | t }}</p>
              <figure class="w-richtext-align-center">
                <div><img src="{{ '63be7c94044ddc3d770e568e_63b95560cfc08415a4573049_637ff2fcf137e01ec2b41037_6355c01a41400ece56ce1bf5_62e53be5ab6135318608c280_zrzut-ekranu-2022-07-30-o-15.10.07.png' | asset_url }}" alt=""></div>
                <figcaption><em>{{ 'tn4c9c570a' | t }}</em></figcaption>
              </figure>
              <h3>{{ 't4fb56c6f' | t }}</h3>
              <p>{{ 't110660f0' | t }}</p>
              <p><strong>{{ 't7ed40bb' | t }}</strong></p>
              <ol start="" role="list">
                <li>{{ 'tn1008b48b' | t }}</li>
                <li>{{ 't762879ec' | t }}</li>
              </ol>
              <p>{{ 't40c6994b' | t }}</p>
              <figure style="padding-bottom:56.25%" class="w-richtext-align-fullwidth w-richtext-figure-type-video">
                <div><iframe src="https://www.loom.com/embed/72460a3b51784d3cac34b281dee62937" frameborder="0" allowfullscreen=""></iframe></div>
              </figure>
              <h3>{{ 'tn77342510' | t }}</h3>
              <p>{{ 't48be9ae7' | t }}</p>
              <p><strong>{{ 'tn2344becd' | t }}</strong></p>
              <ol start="" role="list">
                <li>{{ 't404bcdc4' | t }}</li>
                <li>{{ 'tn77815450' | t }}</li>
                <li>{{ 'tn7e561d7' | t }}</li>
                <li>{{ 't75482def' | t }}</li>
              </ol>
              <p>{{ 'tn5f7298d8' | t }}<a href="https://university.webflow.com/lesson/intro-to-dynamic-content" target="_blank">{{ 't400d0e1' | t }}</a>{{ 't2e' | t }}</p>
              <h3>{{ 'tn642b71c3' | t }}</h3>
              <p>{{ 'tn263cbcac' | t }}</p>
              <p><strong>{{ 't490a2da7' | t }}</strong></p>
              <ol start="" role="list">
                <li>{{ 't26776987' | t }}</li>
                <li>{{ 't7d8ea7a7' | t }}</li>
              </ol>
              <p><strong>{{ 't66f36800' | t }}</strong></p>
              <ol role="list">
                <li>{{ 'tn50e6fb44' | t }}</li>
                <li>{{ 't7f06ce60' | t }}</li>
                <li>{{ 'tn686b9151' | t }}</li>
              </ol>
              <p>{{ 'tn14baa7c8' | t }}</p>
              <figure style="padding-bottom:56.25%" class="w-richtext-align-fullwidth w-richtext-figure-type-video">
                <div><iframe src="https://www.loom.com/embed/50cbb6fbe094464592211dab7b31324c" frameborder="0" allowfullscreen=""></iframe></div>
              </figure>
              <h3>{{ 'tn62ad9b23' | t }}</h3>
              <p>{{ 't53d168a3' | t }}</p>
              <p><strong>{{ 't4bfe0b7a' | t }}</strong></p>
              <ol start="" role="list">
                <li>{{ 'tn6598cc1a' | t }}</li>
                <li>{{ 't158f787e' | t }}</li>
                <li>{{ 't75482de2' | t }}</li>
              </ol>
              <figure style="max-width:3022pxpx" class="w-richtext-align-fullwidth">
                <div><img src="{{ '63be7c945a4305c8fcd051ed_63b955613d3d7a7a63480e24_637ff2fc44978e11e588dfe8_6355c01a8d90511817df061b_62e5417132c44c6ce7247b28_zrzut-ekranu-2022-07-30-o-15.34.16.png' | asset_url }}" alt=""></div>
              </figure>
            </div>
          </div>
          <div id="template" class="tile-template-info">
            <div class="w-richtext">
              <h2>{{ 'tnaa45a08' | t }}</h2>
              <p>{{ 'tn537702f0' | t }}</p>
              <p>{{ 't200d' | t }}</p>
              <h3>{{ 't65f148f2' | t }}</h3>
              <p>{{ 'tn4a3c51c4' | t }}</p>
              <ul role="list">
                <li>{{ 't346ad787' | t }}</li>
                <li>{{ 'tn7fb78d97' | t }}</li>
                <li>{{ 't4267564b' | t }}</li>
                <li>{{ 't1506de81' | t }}</li>
              </ul>
            </div>
          </div>
          <div id="supports" class="tile-template-info">
            <div class="w-richtext">
              <h2>{{ 'tnb54e851' | t }}</h2>
              <p>{{ 'tn529b8f10' | t }}<a href="mailto:templates@wavesdesign.io?subject=I%20have%20a%20question%20about%20Muza%20template">{{ 't5e5a4be3' | t }}</a>
              </p>
              <p>{{ 'tn44f77b74' | t }}<a href="https://university.webflow.com/" target="_blank">{{ 'tb48ea8e' | t }}</a>{{ 't103a7d' | t }}<a href="https://webflow.com/made-in-webflow/website/Support-Center" target="_blank">{{ 't36843709' | t }}</a>{{ 't2e' | t }}</p>
              <p>{{ 't581e7415' | t }}<a href="mailto:mike@wavesdesign.io">{{ 't25aab986' | t }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=657615686374a2846b97a5f7" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}