{%- assign headerSnippetPath = "header-pagechangelog" -%}{%- assign wfPage = "657615686374a2846b97a638" -%}{%- assign bodyClasses = "" -%}
  {%- render 'navbar' -%}
  <div id="top" class="section template-hero">
    <div class="main-container w-container">
      <div class="title-wrap-template-hero">
        <h1>{{ 't37fa6872' | t }}</h1>
        <div class="big-text">{{ 't724d5774' | t }}</div>
        <div class="space-40"></div>
        <a href="https://webflow.com/templates/designers/wavesdesign" target="_blank" class="cta w-button">{{ 'tn472e870c' | t }}</a>
      </div>
    </div>
  </div>
  <div class="section template-info">
    <div class="main-container w-container">
      <div class="columns-template w-row">
        <div class="left-column-template w-col w-col-4">
          <div class="wrap-sticky-navigation">
            <a href="#images" class="link-sticky-navigation">{{ 't1e6be91a' | t }}</a>
            <a href="#icons" class="link-sticky-navigation">{{ 't43362fa' | t }}</a>
            <a href="#fonts" class="link-sticky-navigation">{{ 't40e8de4' | t }}</a>
            <a href="#other" class="link-sticky-navigation">{{ 't1f669eb3' | t }}</a>
          </div>
        </div>
        <div class="right-column-template w-col w-col-8">
          <div id="images" class="tile-template-info">
            <h2>{{ 'tn6e767666' | t }}</h2>
            <p>{{ 'tn3887a26c' | t }}<a href="https://unsplash.com/" target="_blank">{{ 't34b8660' | t }}</a>{{ 't574' | t }}<a href="https://www.pexels.com/" target="_blank">{{ 'tn71b4f337' | t }}</a>{{ 't4d05ec9d' | t }}<a href="https://www.freepik.com/" target="_blank">{{ 't3f3b8b86' | t }}</a>{{ 't4587de2e' | t }}</p>
            <div class="w-richtext">
              <p>
                <a href="https://unsplash.com/photos/xihYs03jvYo">{{ 'tn2ad1a574' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/KR0WW6bjtt0">{{ 'tn2ad1a573' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/Hr3BtfA8DMc">{{ 'tn2ad1a572' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/aBOTlfpkq0g">{{ 'tn2ad1a571' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/gvvVftHG8ds">{{ 'tn2ad1a570' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/hx8huQHBCpE">{{ 'tn2ad1a56f' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/3xydx7uSvKA">{{ 'tn2ad1a56e' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/3xydx7uSvKA">{{ 'tn2ad1a56d' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/1W1VSHDCZiQ">{{ 'tn2ad1a56c' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/wJ7yGwz2-00">{{ 'tn2f6308db' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/Dg9jDXaJW8M">{{ 'tn2f6308da' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/UF5Kdm764RE">{{ 'tn2f6308d9' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/U008D4Jp2CY">{{ 'tn2f6308d8' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/U008D4Jp2CY">{{ 'tn2f6308d7' | t }}</a>{{ 't7db3' | t }}<a href="https://unsplash.com/photos/woman-in-brown-floral-dress-standing-and-smiling-LaK153ghdig" target="_blank">{{ 'tn2f6308d6' | t }}</a>
              </p>
              <p>
                <a href="https://www.pexels.com/pl-pl/video/mezczyzna-trzyma-deske-surfingowa-1093664/">{{ 't7e357dac' | t }}</a>
              </p>
            </div>
            <div class="w-layout-grid grid-images"><img src="{{ 'gallery-2_1gallery-2.webp' | asset_url }}" loading="lazy" id="w-node-_6cac7ada-2833-202e-41a5-1eb51afdb2f7-6b97a638" alt="" class="image-template"><img src="{{ 'gallery-4_1gallery-4.webp' | asset_url }}" loading="lazy" id="w-node-addd42a8-dd40-05e7-71b1-40c3befa32c5-6b97a638" alt="" class="image-template"><img src="{{ 'gallery-3_1gallery-3.webp' | asset_url }}" loading="lazy" id="w-node-_5c58a9c6-d0c8-ad6f-d63b-f3b22a4de5e6-6b97a638" alt="" class="image-template"><img src="{{ 'layla-profile-image-webflow-template_1layla-profile-image-webflow-template.webp' | asset_url }}" loading="lazy" id="w-node-_0441a92f-7bf4-2418-b51c-f7358b7dbb76-6b97a638" alt="" class="image-template"></div>
          </div>
          <div id="icons" class="tile-template-info">
            <h2>{{ 't43362fa' | t }}</h2>
            <p>{{ 'tn6418059e' | t }}<a href="https://remixicon.com/" target="_blank">{{ 'tn2a8c34bd' | t }}</a>{{ 't3fb19a64' | t }}</p>
            <div class="w-layout-grid grid-icons"><img src="{{ 'arrow-up-line.svg' | asset_url }}" loading="lazy" id="w-node-_9c53c913-effc-7b5e-6f69-bb817ec8b1aa-6b97a638" alt="" class="icon-template"><img src="{{ 'arrow-up-line.svg' | asset_url }}" loading="lazy" id="w-node-_9c53c913-effc-7b5e-6f69-bb817ec8b1ab-6b97a638" alt="" class="icon-template"><img src="{{ 'chevright.svg' | asset_url }}" loading="lazy" id="w-node-_9c53c913-effc-7b5e-6f69-bb817ec8b1ac-6b97a638" alt="" class="icon-template"></div>
          </div>
          <div id="fonts" class="tile-template-info">
            <h2>{{ 't40e8de4' | t }}</h2>
            <p>{{ 'tn9470391' | t }}<a href="https://www.fontshare.com/" target="_blank">{{ 't1cbdbcd0' | t }}</a>{{ 't53f903a8' | t }}</p>
          </div>
          <div id="other" class="tile-template-info">
            <h2>{{ 't1f669eb3' | t }}</h2>
            <p>{{ 'tn76fca284' | t }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- render 'footer' -%}
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=657615686374a2846b97a5f7" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="{{ 'webflow.js' | asset_url }}" type="text/javascript"></script>

{{ 'udesly-shopify.min.js' | asset_url | script_tag }}